.container{
    display:flex;
    width:100%;
    height:92.25vh;
}

.online-users-section{
    width:17.5%;
}

.central-section{
    width:56.5%;
    border-left: 1px solid var(--color-border-1);
    border-right: 1px solid var(--color-border-1);
}

.chat-section{
    width: 22%;
}

.channels-section{
    width:4%;
    border-left: 1px solid var(--color-border-1);
}


// .container {
//     height: 92.5vh;
//     background-color: var(--color-background-1);
//     display: flex;
//     flex-direction: column;
//     flex: 1;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// .logo {
//     display: flex;
//     flex-direction: row;
//     text-align: center;
// }
// .wooden-border {
//     border-radius: 0.8rem;
//     border: solid;
//     border-width: 0.01rem;
//     margin-top: 3.5rem;
//     background-color: var(--color-border-2);
//     display: flex;
//     flex-direction: column;
//     flex-direction: row;
//     align-items: center;
//     align-content: center;
// }
// .buttons-container {
//     margin: 0.5rem;
//     padding: 2rem;
//     border-radius: 0.8rem;
//     background-color: var(--color-background-2);
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

// .menuButton {
//     border: solid;
//     border-color: var(--color-border-2);
//     border-width: 0.01rem;
//     background-color: var(--color-button);
//     color: var(--color-text);
//     font-size: 1.2rem;
//     margin-top: 1.2rem;
//     margin-bottom: 1.2rem;
// }

// .menuButton:hover {
//     background-color: var(--color-button-hover);
// }

// .footer-item {
//     text-align: center;
//     position: absolute;
//     bottom: 0;
//     color: var(--color-text);
// }
// .team-name {
//     margin-top: 0.25em;
//     margin-bottom: 0.25em;
// }
