<app-header></app-header>
<div class="container">
    <app-online-users class="online-users-section"></app-online-users>
    <app-joinable-games class="central-section"></app-joinable-games>
    <app-communication-box class="chat-section"></app-communication-box>
    <app-channels-banner class="channels-section"></app-channels-banner>
</div>
