<h1 class="form-label">{{ 'registerPage.avatarChoice' | translate }}</h1>

<div class="center-div">
    <p class="error">{{ this.errorMsg }}</p>
</div>

<div class="avatar-container">
    <div class="center">
        <img class="avatar-preview" src="{{ this.getAvatar() }}" />
        <p class="form-label">{{ this.fileName }}</p>
    </div>

    <div class="proposed-container">
        <img class="proposed-avatar grow" src="assets/images/avatars/avatar-1.svg" (click)="selectAvatar(1)" />
        <img class="proposed-avatar grow" src="assets/images/avatars/avatar-2.svg" (click)="selectAvatar(2)" />
        <img class="proposed-avatar grow" src="assets/images/avatars/avatar-3.svg" (click)="selectAvatar(3)" />

        <br />

        <img class="proposed-avatar grow" src="assets/images/avatars/avatar-4.svg" (click)="selectAvatar(4)" />
        <img class="proposed-avatar grow" src="assets/images/avatars/avatar-5.svg" (click)="selectAvatar(5)" />
        <img class="proposed-avatar grow" src="assets/images/avatars/avatar-6.svg" (click)="selectAvatar(6)" />

        <br />
        <br />
    </div>
</div>

<input type="file" accept="image/*" class="file-input" (change)="showPreview($event)" #fileUpload hidden />

<div class="file-upload">
    <button mat-raised-button type="button" class="form-label upload-btn" (click)="fileUpload.click()">
        <img class="upload-icon" src="{{ this.getUploadIcon() }}" /> {{ 'registerPage.uploadAvatar' | translate }}
    </button>
</div>

<hr />

<div class="center-div form-label">
    <button *ngIf="this.disableAvatarChange()" mat-raised-button id="disabled" disabled (click)="this.updateAvatar()">
        {{ 'registerPage.updateAvatar' | translate }}
    </button>

    <button *ngIf="!this.disableAvatarChange()" mat-raised-button id="update-avatar" (click)="this.updateAvatar()">
        {{ 'registerPage.updateAvatar' | translate }}
    </button>
</div>
