.form-label {
    color: var(--color-text);
}

.avatar-container {
    display: flex;
    margin: auto;
}

.avatar-preview {
    max-width: 100%;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    fill: var(--color-text);
    border: 3px solid var(--color-border-2);
}

.center {
    margin: auto;
}

.proposed-container {
    width: 60%;
}

.proposed-avatar {
    max-width: 100%;
    width: 60px;
    padding: 2%;
}

.proposed-avatar:hover {
    cursor: pointer;
}

.grow {
    transition: all 0.2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.upload-btn {
    background-color: var(--color-background-1);
    border: 1px solid var(--color-border-2);
}

.file-upload {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 2%;
}

.left {
    transform: scale(1.2);
    float: left;
    border-radius: 50%;
    border: 2px solid var(--color-text);
    color: var(--color-text);
}

.left:hover {
    cursor: pointer;
}

#disabled {
    width: 80%;
    background-color: var(--color-input-button-disabled);
    margin-bottom: 10px;
    margin-top: 15px;
    margin: auto;
    color: var(--color-text);
    opacity: 40%;
}

.upload-icon {
    max-width: 100%;
    width: 40px;
}

.center-div {
    text-align: center;
}

#disabled {
    width: 80%;
    background-color: var(--color-input-button-disabled);
    margin-bottom: 10px;
    margin-top: 15px;
    color: var(--color-text);
    opacity: 40%;
}

#update-avatar {
    width: 80%;
    cursor: pointer;
    background-color: rgb(36, 202, 125);
    margin-bottom: 10px;
    margin-top: 15px;
    color: var(--color-text);
}

.error {
    color: red;
}

.center-div {
    text-align: center;
}
