<div class="container">
    <div class="header-container">
        <div class="close-container">
            <div class="close-button" (click)="closeModal()">
                <mat-icon class="clear-icon">close</mat-icon>
            </div>
        </div>
        <span class="header">{{ 'waitingRoom.gameInvite.sendInvite' | translate }}</span>
        <div class="search-bar-container">
            <div class="search-icon-container">
                <mat-icon class="search-icon">search</mat-icon>
            </div>
            <input
                [(ngModel)]="searchBarContent"
                (ngModelChange)="filterOnlineUsers()"
                class="search-bar"
                placeholder="{{ 'waitingRoom.searchUser' | translate }}"
                autocomplete="new-username"
            />
        </div>
    </div>
    <div class="middle-container">
        <div *ngIf="globalUserService.onlineUsers.length === 0" class="no-users-container">
            <div class="no-users-container">
                <span>{{ 'onlineUsers.onlyUser' | translate }}</span>
            </div>
        </div>
        <div *ngFor="let user of filteredUsers" class="online-user">
            <app-user-element class="online-user" [user]="user"></app-user-element>
            <div class="invite-button-container">
                <button class="invite-button" (click)="inviteUser(user)">{{ 'waitingRoom.gameInvite.invite' | translate }}</button>
            </div>
        </div>
    </div>
</div>
