.global-container,
.global-container-hoverable {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.global-container-hoverable:hover {
    cursor: pointer;
    background-color: var(--color-background-2);
}

.container {
    width: 100%;
    height: 100%;
    background-color: var(--color-background-1);
}

.online-users-container {
    padding: 0 10px;
}

.online-user {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
}

.avatar-container {
    width: 20%;
    height: 42px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.username-container {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 12.5px;
}

.score-container {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 12.5px;
}

.circles-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    width: 41px;
    height: 41px;
    border: 1px solid var(--color-border-1);
}

.no-avatar {
    border-radius: 50%;
    font-size: 41px;
    width: 41px;
    height: 41px;
    color: var(--color-text);
    border: 1px solid var(--color-border-1);
}

.online-circle-container {
    align-self: flex-end;
    justify-self: flex-end;
    margin-left: -15px;
}

.online-circle {
    background-color: rgb(0, 190, 0);
    height: 12.5px;
    width: 12.5px;
    border-radius: 50%;
    border: 2px solid var(--color-background-1);
}

.username,
.score {
    font-size: 16px;
    font-family: 'tahoma';
    color: var(--color-text);
}

.offline-avatar-container {
    opacity: 50%;
    width: 20%;
    height: 42px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.offline-circle {
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    height: 12.5px;
    width: 12.5px;
    border-radius: 50%;
    border: 2px solid;
}
