<div
    [ngClass]="selfUserService.user.id === this.user.id ? 'global-container' : 'global-container-hoverable'"
    (contextmenu)="openUserClickOptions($event)"
    (click)="openUserClickOptions($event)"
>
    <div class="avatar-container" *ngIf="globalUserService.isUserOnline(user.id)">
        <img *ngIf="user.avatar" class="avatar" src="{{ user.avatar }}" />
        <div class="online-circle-container">
            <div class="online-circle"></div>
        </div>
    </div>

    <div class="offline-avatar-container" *ngIf="!globalUserService.isUserOnline(user.id)">
        <img *ngIf="user.avatar" class="avatar" src="{{ user.avatar }}" />
        <mat-icon *ngIf="!user.avatar" class="no-avatar">person</mat-icon>
        <div class="online-circle-container">
            <div class="offline-circle"></div>
        </div>
    </div>

    <div class="username-container">
        <div class="username">{{ user.username }}</div>
    </div>

    <div class="score-container">
        <div class="score">
            {{ user.statistics.elo }}
        </div>
    </div>
</div>
