<div class="container">
    <div class="header-container">
        <div class="close-container">
            <div class="close-button" (click)="closeModal()">
                <mat-icon class="clear-icon">close</mat-icon>
            </div>
        </div>
        <div class="header">{{ 'friendRequest.manageRequests' | translate }}</div>
    </div>
    <div class="middle-container">
        <div class="pending-container">
            <div class="sub-header">{{ 'friendRequest.pendingRequests' | translate }}</div>
            <div *ngIf="this.friendService.receivedInvites.length === 0" class="no-requests">
                {{'friendRequest.noPendingRequest' | translate}}
            </div>
            <div *ngIf="this.friendService.receivedInvites.length > 0" class="list-container">
                <div *ngFor="let user of this.friendService.receivedInvites" class="online-user">
                    <app-user-element class="user" [user]="user"></app-user-element>
                    <div class="invite-button-container">
                        <button class="invite-button" (click)="acceptInvite(user.id)">{{ 'common.accept' | translate }}</button>
                    </div>
                    <div class="invite-button-container">
                        <button class="invite-button" (click)="refuseInvite(user.id)">{{ 'common.decline' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="request-container">
            <div class="sub-header">{{ 'friendRequest.sentRequests' | translate }}</div>
            <div *ngIf="this.friendService.friendsRequested.length === 0" class="no-requests">
                {{'friendRequest.noRequestSent' | translate}}
            </div>
            <div *ngIf="this.friendService.friendsRequested.length > 0" class="list-container">
                <div *ngFor="let user of this.friendService.friendsRequested" class="online-user">
                    <app-user-element class="user" [user]="user"></app-user-element>
                    <div class="invite-button-container"></div>
                    <div class="invite-button-container">
                        <button class="invite-button" (click)="removeInvite(user.id)">{{ 'common.cancel' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
</div>
