<div class="container">
    <div class="upper-container">
        <div class="search-bar-container">
            <div class="search-icon-container">
                <mat-icon class="search-icon">search</mat-icon>
            </div>
            <input
                [(ngModel)]="searchBarContent"
                class="search-bar"
                placeholder="{{ 'mainPage.joinableGames.searchGame' | translate }}"
                autocomplete="new-username"
            />
        </div>
        <div class="filter-container">
            <mat-icon class="filter-icon" (click)="openfilterGamesDialog()">tune_alt</mat-icon>
        </div>
    </div>
    <div *ngIf="filterGames().length > 0" class="game-central-container">
        <div *ngIf="this.gameFiltersService.appliedGameFilters.length > 0" class="filter-tag-container">
            <div *ngFor="let filter of this.gameFiltersService.appliedGameFilters" class="filter-tag">
                <div class="filter-tag-title">{{ filter.translatedLabel | translate }} : {{ filter.value | translate }}</div>
                <mat-icon (click)="removeFilter(filter.translatedLabel)" class="remove-filter">close</mat-icon>
            </div>
        </div>
        <div class="game-list-header">
            <div class="header-container-label">
                <div class="header">
                    <p>{{ 'mainPage.joinableGames.creator' | translate }}</p>
                </div>
                <div class="header">
                    <p>{{ 'mainPage.joinableGames.accessType' | translate }}</p>
                </div>
                <div class="header">
                    <p>{{ 'mainPage.joinableGames.timer' | translate }}</p>
                </div>
                <div class="header">
                    <p>{{ 'mainPage.joinableGames.dictionary' | translate }}</p>
                </div>
                <div class="header">
                    <p matTooltip="{{ 'mainPage.joinableGames.playersToolTip' | translate }}" [matTooltipClass]="'tooltip'">
                        {{ 'mainPage.joinableGames.players' | translate }}
                    </p>
                </div>
            </div>
            <div class="header-container-icon">
                <div class="header-icon">
                    <mat-icon matTooltip="{{ 'mainPage.joinableGames.humanPlayers' | translate }}" [matTooltipClass]="'tooltip'">people</mat-icon>
                </div>
                <div class="header-icon">
                    <mat-icon matTooltip="{{ 'mainPage.joinableGames.virtualPlayers' | translate }}" [matTooltipClass]="'tooltip'"
                        >smart_toy</mat-icon
                    >
                </div>
                <div class="header-icon">
                    <mat-icon matTooltip="{{ 'mainPage.joinableGames.observers' | translate }}" [matTooltipClass]="'tooltip'"
                        >remove_red_eye</mat-icon
                    >
                </div>
            </div>
        </div>
        <div *ngFor="let game of filterGames()" class="game-list" (click)="joinGame(game)">
            <div *ngIf="!game.isGameStarted" class="joinable-game">
                <div class="game-container-label">
                    <div class="game-data">
                        <p>{{ game.creatorName }}</p>
                    </div>
                    <div class="game-data">
                        <p>{{ (game.isPrivate ? 'mainPage.joinableGames.private' : 'mainPage.joinableGames.public') | translate }}</p>
                    </div>
                    <div class="game-data">
                        <p>{{ this.getTimeString(game.time) }}</p>
                    </div>
                    <div class="game-data">
                        <p>{{ game.dictionary }}</p>
                    </div>
                    <div class="game-data">
                        <p>
                            {{ game.players.length + game.virtualPlayers.length + game.invitedUsers.length }}/{{
                                game.openSpots + game.players.length + game.virtualPlayers.length + game.invitedUsers.length
                            }}
                        </p>
                    </div>
                </div>
                <div class="game-container-icon">
                    <div class="game-data-icon">
                        <p>{{ game.players.length }}</p>
                    </div>
                    <div class="game-data-icon">
                        <p>{{ game.virtualPlayers.length }}</p>
                    </div>
                    <div class="game-data-icon">
                        <p>{{ game.observers.length }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="filterGames().length === 0" class="no-game-central-container">
        <div *ngIf="this.gameFiltersService.appliedGameFilters.length > 0" class="filter-tag-container">
            <div *ngFor="let filter of this.gameFiltersService.appliedGameFilters" class="filter-tag">
                <div class="filter-tag-title">{{ filter.translatedLabel | translate }} : {{ filter.value | translate }}</div>
                <mat-icon (click)="removeFilter(filter.translatedLabel)" class="remove-filter">close</mat-icon>
            </div>
        </div>
        <div class="no-game">
            <p>{{ 'mainPage.joinableGames.noGameFound' | translate }}</p>
        </div>
    </div>

    <div class="bottom-container">
        <button class="create-button" (click)="openCreateGameDialog()">{{ 'mainPage.createGame.createGame' | translate }}</button>
    </div>
</div>
