.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--color-background-1);
}

.upper-container {
    width: 100%;
    height: 7.5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid var(--color-border-1);
    margin: 0 2.5%;
}

.search-bar-container {
    width: 65%;
    height: 60%;
    display: flex;
    justify-content: center;
    border: 1px solid var(--color-border-1);
    border-radius: 5px;
}

.search-icon-container {
    width: 7.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--color-border-1);
    margin: 3px 0;
}

.search-icon,
.filter-icon {
    width: 36px;
    height: 36px;
    font-size: 36px;
    color: var(--color-text);
}

.search-bar {
    width: 95%;
    border: none;
    outline: none;
    padding: 0 15px;
    border-radius: 5px;
    font-family: 'tahoma';
    font-size: 20px;
    background-color: var(--color-background-1);
    color: var(--color-text);
}

.clear-icon-container {
    width: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.filter-icon,
.clear-icon {
    cursor: pointer;
}

.filter-container {
    width: 5%;
    display: flex;
    justify-content: center;
    margin-left: 2.5%;
}

.game-central-container,
.no-game-central-container {
    width: 85%;
    height: 82.5%;
    margin: 0 2.5%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content:flex-start;
    flex-wrap: wrap;
    color: var(--color-text);
    overflow-y: scroll;
}

.game-list-header {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-border-1);
    box-sizing: border-box;
}

.game-list-header,
.game-list {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.joinable-game:hover {
    background-color: var(--color-background-2);
    border-radius: 0.5rem;
}
.game-list {
    border-bottom: 1px solid var(--color-border-1);
    box-sizing: border-box;
    cursor: pointer;
    align-self: flex-start;
}

.header-container-label {
    width: 75%;
    display: flex;
    flex-wrap: nowrap;
    padding-top: 20px;
}

.joinable-game {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.game-container-label {
    width: 75%;
    height: 60px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.header {
    width: 25%;
    margin: none;
    padding: none;
    display: flex;
    justify-content: center;
}

.header p {
    margin: 0;
    text-align: center;
    font-family: 'Tahoma';
    font-weight: bold;
    font-size: 16px;
}

.no-game p {
    margin: 0;
    text-align: center;
    font-family: 'Tahoma';
    font-weight: bold;
    font-size: 16px;
}

.header-container-icon {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding-top: 20px;
}

.game-container-icon {
    width: 25%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.header-icon {
    width: 25%;
    display: flex;
    justify-content: center;
}

.game-data {
    width: 25%;
    margin: none;
    padding: none;
    display: flex;
    justify-content: center;
}

.game-data p {
    margin: 0;
    text-align: center;
    font-family: 'Tahoma';
    font-weight: normal;
    font-size: 16px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: nowrap;
}

.game-data-icon {
    width: 25%;
    margin: none;
    padding: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-data-icon p {
    margin: 0;
    text-align: center;
    font-family: 'Tahoma';
    font-weight: normal;
    font-size: 16px;
}

::ng-deep .tooltip {
    background-color: var(--color-button-hover);
    color: var(--color-text) !important;
    font-family: 'tahoma';
    font-size: 14px;
    margin-top: 3.5px !important;
}

.no-game {
    margin-top: 100px;
}

.bottom-container {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-top: 1px solid var(--color-border-1);
    margin: 0 2.5%;
}

.create-button,
.join-button {
    width: 20%;
    height: 45%;
    background-color: var(--color-button);
    border: 1px solid var(--color-border-1);
    border-radius: 5px;
    color: var(--color-text);
    cursor: pointer;
    font-size: 14px;
    font-family: 'tahoma';
    margin: 0 80px;
}

.create-button:hover,
.join-button:hover {
    background-color: var(--color-button-hover);
}

.filter-tag-container {
    width: 100%;
    height: 6.5%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.filter-header {
    color: var(--color-text);
    font-size: 16px;
    font-family: 'Tahoma';
}

.filter-tag {
    background-color: rgb(119, 57, 219);
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0 10px;
    margin: 0 5px;
    border-radius: 10px;
}

.filter-tag-title {
    margin: 0 2.5px;
}

.remove-filter {
    cursor: pointer;
    margin: 0 2.5px;
}

.remove-filter:hover {
    color: lightgrey;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 0.25vw;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--color-background-1);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-border-1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-border-2);
}
