<div class="container">
    <span class="title label">{{ 'menuSettings.language.language' | translate }}</span>
    <div class="theme-option">
        <input
            (click)="changeLanguage('fr')"
            [checked]="languageService.selectedLanguage === 'fr'"
            type="radio"
            name="language"
            class="radio-container"
        />
        <label (click)="changeLanguage('fr')" for="light" class="label radio-container">{{ 'menuSettings.language.french' | translate }}</label>
    </div>

    <div class="theme-option">
        <input
            (click)="changeLanguage('en')"
            [checked]="languageService.selectedLanguage === 'en'"
            type="radio"
            name="language"
            class="radio-container"
        />
        <label (click)="changeLanguage('en')" for="dark" class="label radio-container">{{ 'menuSettings.language.english' | translate }}</label>
    </div>
</div>
