p {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.normal {
    color: black;
}

.critical {
    color: red;
    animation: blinker 1s linear infinite;
}

// From https://stackoverflow.com/questions/16344354/how-to-make-blinking-flashing-text-with-css-3
@keyframes blinker {
    50% {
        opacity: 0;
    }
}
