<div class="input-area">
    <div class="input-container">
        <form (ngSubmit)="submitChatInput(userInput.value)" class="input-form">
            <!-- <mat-form-field> -->
            <input id="chat-input-box" class="input" maxlength="512" matInput type="text" #userInput autocomplete="off" />
            <!-- </mat-form-field> -->
        </form>
    </div>
    <div class="button-container">
        <button (click)="submitChatInput(userInput.value)" class="submit-button" type="submitChatInput">{{ 'chat.send' | translate }}</button>
    </div>
</div>
