.input-area {
    display: flex;
    height:10%;
    width:100%;
    align-items: center;
    background-color: var(--color-background-2);
}

.input-container {
    width: 75%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.input-form {
    width:100%; 
    height:100%;
    display:flex;
    align-items: center;
    justify-content: flex-end;
}

.input{
    width:90%;
    height: 45%;
    outline:none;
    padding:0 10px;
    border: 1px solid var(--color-border-1);
    font-family:'tahoma';
    font-size:14px;
    border-radius: 5px;
    background-color: var(--color-background-1);
    color: var(--color-text);
}

.button-container {
    width: 25%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-button {
    background-color: var(--color-button);
    color: var(--color-text);
    height: 50%;
    width:80%;
    outline:none;
    border: 1px solid var(--color-border-1);
    font-family:'tahoma';
    font-size:14px;
    border-radius: 5px;
    cursor:pointer;
}


.submit-button:hover {
    background-color: var(--color-button-hover);
}
