<div class="container">
    <div class="button-container">
        <button *ngIf="isOurTurn() && !checkIsObserver()" class="button" (click)="passTurn()">{{ 'gamePage.letterRack.pass' | translate }}</button>
    </div>

    <div class="central-section">
        <div #rack id="rack" class="rack-container">
            <app-token
                *ngFor="let letter of game.lettersView; index as i"
                [letter]="letter.character"
                [weight]="letter.weight"
                [isBlank]="letter.isBlankLetter"
                [index]="i"
                class="token"
            ></app-token>
        </div>
    </div>
    <div class="change-letters-container" *ngIf="letterRackService.isExchangeButtonShown">
        <button class="button" (click)="cancelExchange()">{{ 'common.cancel' | translate }}</button>
        <button class="button" (click)="exchangeLetters()">{{ 'gamePage.letterRack.exchange' | translate }}</button>
    </div>
    <div *ngIf="!game.isPlayer" class="change-letters-container">
        <span class="watching">{{ 'userInteractions.currentlyWatching' | translate: { name: getWatchedName() } }}</span>
    </div>
    <div class="button-container">
        <button *ngIf="isOurTurn() && !checkIsObserver()" class="button play-button" (click)="submitCommand()">{{ 'gamePage.letterRack.play' | translate }}</button>
    </div>
</div>
