.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-background-1);
}

.central-section {
    width: 57.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.rack-container {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background-2);
    border: 1px solid var(--color-border-1);
    border-radius: 15px;
    margin-top: 25px;
}

.change-letters-container {
    width: 20%;
    height: fit-content;
    display: flex;
    bottom: 12vh;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
}

.watching {
    width: 100%;
    font-size: 16px;
    font-family: 'Tahoma';
    color: var(--color-text);
    text-align: center;
}

.button-container {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.button {
    width: 100px;
    height: 35px;
    font-size: 14px;
    font-family: 'tahoma';
    color: var(--color-text);
    background-color: var(--color-button);
    outline: none;
    border: 1px solid var(--color-border-1);
    border-radius: 5px;
    cursor: pointer;
}

.button:hover:enabled {
    background-color: var(--color-button-hover);
}
