<div class="container">
    <div class="header">
        <div class="avatar-container">
            <img class="avatar" src="{{ user.avatar }}" />
        </div>

        <div class="username-container">
            <div class="username">{{ this.user.username }}</div>
        </div>
    </div>

    <div class="stats-container">
        <div class="elo-container">
            <div class="elo">{{ 'profile.statistics.elo' | translate }} {{ this.user.statistics.elo }}</div>
        </div>

        <div class="rank-container">
            <div class="rank">{{ 'profile.statistics.rank' | translate }} {{ this.user.statistics.rank }}</div>
        </div>

        <div class="stat-container">
            <div *ngIf="this.user.statistics.gamesPlayed <= 1" class="stats">
                {{ 'profile.statistics.gamePlayedSingle' | translate }} {{ this.user.statistics.gamesPlayed }}
            </div>
            <div *ngIf="this.user.statistics.gamesPlayed > 1" class="stats">
                {{ 'profile.statistics.gamePlayedMultiple' | translate }} {{ this.user.statistics.gamesPlayed }}
            </div>
        </div>
        <div class="stat-container">
            <div *ngIf="this.user.statistics.gamesWon <= 1" class="stats">
                {{ 'profile.statistics.gameWonSingle' | translate }} {{ this.user.statistics.gamesWon }}
            </div>
            <div *ngIf="this.user.statistics.gamesWon > 1" class="stats">
                {{ 'profile.statistics.gameWonMultiple' | translate }} {{ this.user.statistics.gamesWon }}
            </div>
        </div>
        <div class="stat-container">
            <div *ngIf="this.user.statistics.gamesLost <= 1" class="stats">
                {{ 'profile.statistics.gameLostSingle' | translate }} {{ this.user.statistics.gamesLost }}
            </div>
            <div *ngIf="this.user.statistics.gamesLost > 1" class="stats">
                {{ 'profile.statistics.gameLostMultiple' | translate }} {{ this.user.statistics.gamesLost }}
            </div>
        </div>
        <div class="stat-container">
            <div class="stats">{{ 'profile.statistics.avgPoint' | translate }} {{ this.user.statistics.averagePointByGame }}</div>
        </div>
        <div class="stat-container">
            <div class="stats-last">
                {{ 'profile.statistics.avgTime' | translate }}

                {{ this.user.statistics.averageTimePerGame.minutes }}:{{ displaySeconds() }}
            </div>
        </div>
    </div>
</div>
