.container {
    padding: 15px 15px;
}

.header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--color-border-1);
}

.avatar-container {
    width: 30%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    border: 1px solid var(--color-border-1);
}

.username-container {
    width: 70%;
    padding-left: 15px;
}

.username {
    width: 70%;
    font-family: 'Tahoma';
    color: var(--color-text);
    font-size: 20px;
}

.stats-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.elo-container,
.rank-container,
.stats-container,
.stat-container {
    width: 100%;
    color: var(--color-text);
    font-family: 'Tahoma';
}

.elo {
    font-size: 18px;
    font-weight: bolder;
    margin: 5px 0;
    margin-top: 10px;
}

.rank {
    font-size: 14px;
    margin: 5px 0;
}

.stats {
    margin: 5px 0;
    font-size: 14px;
}

.stats-last {
    margin-top: 5px;
    font-size: 14px;
}
