p {
    margin: 0;
    padding: 0;
}

.icon {
    color: var(--color-text);
    font-size: 48px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.username-container {
    width: 100%;
    height: 20%;
    padding-bottom: 2.5px;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--color-border-2);
}

.username {
    width: 100%;
    display: flex;
    color: var(--color-text);
    justify-content: center;
}

.option {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 5px 0;
    cursor: pointer;
    width: 100%;
}

.icon-container {
    width: 20%;
    display: flex;
    justify-content: center;
}

.label-container {
    width: auto;
    color: var(--color-text);
}

.option-icon {
    display: flex;
    justify-content: center;
    color: var(--color-text);
    font-size: 25px;
    width: 25px;
    height: 25px;
}

.radio-container {
    cursor: pointer;
    margin-left: 5px;
}

.label {
    color: var(--color-text);
}

.title {
    font-weight: 600;
}

.theme-option {
    margin: 5px 2px;
    width: 100%;
    display: flex;
    align-items: center;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -5px;
    left: -4px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -5px;
    left: -4px;
    position: relative;
    background-color: #2e89ff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.label-container:hover {
    color: var(--color-border-1);
}
