<div>
    <div class="option" (click)="viewMembers()">
        <div class="icon-container">
            <mat-icon class="option-icon">account_box</mat-icon>
        </div>
        <div class="label-container">{{ 'channels.viewMembers' | translate }}</div>
    </div>

    <div class="option" (click)="leaveChannel()">
        <div class="icon-container">
            <mat-icon class="option-icon">close</mat-icon>
        </div>
        <div class="label-container">{{ 'channels.leaveChannel' | translate }}</div>
    </div>
</div>
