.container {
    width: 500px;
    height: 100px;
}

.container-password {
    width: 500px;
    height: 200px;
}

.password-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-border-1);
    background-color: var(--color-background-2);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    border-radius: 7.5px;
    font-size: 18px;
    font-family: 'tahoma';
    color: var(--color-text);
}

.password {
    background-color: transparent;
    width: 90%;
    outline: none;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    outline: none;
    font-size: 18px;
    font-family: 'tahoma';
    color: var(--color-text);
}

.visibility {
    width: 10%;
    text-align: center;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55%;
    font-size: 20px;
    font-family: 'tahoma';
    color: var(--color-text);
}

.button-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 35%;
}

.close-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height:10%;
}

.close-button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    color: var(--color-text);
}


.observer-button,
.cancel-button,
.validate-button,
.player-button {
    width: 30%;
    height: 90%;
    background-color: var(--color-button);
    border: 1px solid var(--color-border-1);
    border-radius: 5px;
    color: var(--color-text);
    cursor: pointer;
    font-size: 14px;
    font-family: 'tahoma';
    outline: none;
}

.observer-button:hover,
.player-button:hover,
.cancel-button:hover,
.validate-button:hover {
    background-color: var(--color-button-hover);
}

.cancel-button,
.validate-button {
    height: 60%;
}