<div class="container">
    <div class="close-container">
        <div class="close-button-icon" (click)="declineInvitation()">
            <mat-icon class="clear-icon">close</mat-icon>
        </div>
    </div>
    <div class="text-container">
        <span class="text">{{ 'waitingRoom.gameInvite.invitationReceived' | translate: { name: gameInvitationData.creatorName } }}</span>
    </div>
    <div class="button-container">
        <button class="player-button" (click)="declineInvitation()">{{ 'common.decline' | translate }}</button>
        <button class="observer-button" (click)="acceptInvitation()">{{ 'common.accept' | translate }}</button>
    </div>
</div>
