.container {
    height: 100%;
    width: 100%;
    background-color: var(--color-background-1);
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.header-container {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: wrap;
    background-color: var(--color-background-1);
}

.title {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header {
    font-size: 28px;
    font-family: 'tahoma';
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--color-text);
}

.game-info-container {
    width: 50%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding-top: 10px;
}

.game-info {
    width: 40%;
    height: 90%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    // align-items: center;
}

.timer-container,
.dictionary-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.info-icon {
    // width:100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.timer,
.dictionary {
    margin: 0;
    text-align: center;
    font-family: 'Tahoma';
    font-weight: normal;
    font-size: 16px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: nowrap;
    color: var(--color-text);
}

.middle-container {
    width: 92.5%;
    height: 65%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.number-players-title {
    font-size: 20px;
}

.info-icon {
    width: 30px;
    height: 30px;
    font-size: 30px;
    margin: none;
    padding: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text);
    margin-right: 10px;
}

.players-container {
    width: 100%;
    height: 40%;
}

.observers-container {
    width: 100%;
    height: 40%;
}

.number-players-container,
.number-observers-container {
    margin: 0;
    text-align: center;
    font-family: 'Tahoma';
    font-weight: normal;
    font-size: 16px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: nowrap;
    color: var(--color-text);
    display: flex;
    align-items: center;
    border-bottom: 2.5px solid var(--color-border-1);
    // padding-bottom: 3.5px;
}

.number-players-container {
    height: 35px;
    font-size: 20px;
    margin-bottom: 5px;
    justify-content: space-between;
    padding-top: 5px;
}

.number-players-observers {
    height: 50px;
}

.users {
    width: 100%;
    height: 7vh;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    font-family: 'Tahoma';
    font-weight: normal;
    font-size: 20px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: nowrap;
    color: var(--color-text);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-border-1);
}

.user-avatar,
.user-avatar-waiting {
    width: 7.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-icon {
    font-size: 36px;
    width: 36px;
    height: 36px;
    color: var(--color-border-2);
}

.avatar {
    cursor: pointer;
}

.avatar,
.avatar-self,
.circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid var(--color-border-1);
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.circle:hover {
    background-color: var(--color-button-hover);
}

.user-name,
.user-name-waiting {
    width: 37.5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
}

.add-spot-container {
    width: 100%;
}

.add-spot {
    width: 7.5%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.empty-name {
    width: 57.5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
    color: var(--color-border-1);
}

.action-button-container {
    display: flex;
    align-items: center;
    width: 12%;
    height: 40px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 35%;
    height: 50px;
}

.button-container-watch {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 50px;
}

.action-button-top {
    width: 100%;
    height: 72.5%;
    background-color: var(--color-button);
    border: 1px solid var(--color-border-1);
    border-radius: 5px;
    color: var(--color-text);
    cursor: pointer;
    font-size: 14px;
    font-family: 'tahoma';
}

.action-button {
    width: 50%;
    height: 72.5%;
    background-color: var(--color-button);
    border: 1px solid var(--color-border-1);
    border-radius: 5px;
    color: var(--color-text);
    cursor: pointer;
    font-size: 14px;
    font-family: 'tahoma';
}

.action-button:hover {
    background-color: var(--color-button-hover);
}

.user-score,
.user-score-waiting {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.number-observers {
    font-size: 20px;
    height: 40px;
    display: flex;
    align-items: flex-end;
}

.observers-list-container {
    max-height: 85%;
    overflow-y: scroll;
}

.no-observer {
    width: 100%;
    font-size: 18px;
    margin-top: 15px;
    text-align: center;
    color: var(--color-text);
}

.observer-title {
    width: 82.5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.private-button-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
}

.selected-private {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    color: var(--color-text);
    background-color: var(--color-background-1);
    border: 1px solid var(--color-border-1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: 'Tahoma';
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.unselected-private {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    color: var(--color-border-1);
    background-color: var(--color-background-2);
    border: 1px solid var(--color-border-1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: 'Tahoma';
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.footer-container {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.leave-game,
.launch-game {
    width: 15%;
    height: 45%;
    background-color: var(--color-button);
    border: 1px solid var(--color-border-1);
    border-radius: 5px;
    color: var(--color-text);
    cursor: pointer;
    font-size: 14px;
    font-family: 'tahoma';
}

.leave-game:hover,
.launch-game:hover {
    background-color: var(--color-button-hover);
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 0.25vw;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--color-background-1);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-border-1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-border-2);
}

.arrow_box {
    position: absolute;
    border: 1px solid var(--color-border-1);
    margin: -20px 0 0 40px;
    background-color: var(--color-background-1);
    width: 120px;
    color: var(--color-text);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    font-family: 'tahoma';
    font-size: 14px;
    border-radius: 5px;
}

.option {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    width: 100%;
    padding: 2.5px 5px;
}

.option:hover {
    background-color: var(--color-button-hover);
}

.label-container {
    width: 100%;
    color: var(--color-text);
    text-align: start;
}

.invite-button-container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
}

.invite-button {
    width: 75%;
    height: 75%;
    background-color: var(--color-button);
    border: 1px solid var(--color-border-1);
    border-radius: 5px;
    color: var(--color-text);
    cursor: pointer;
    font-size: 14px;
    font-family: 'tahoma';
}

.invite-button:hover {
    background-color: var(--color-button-hover);
}

.new-circle-container {
    position: absolute;
    align-self: center;
    justify-self: center;
}

.new-circle {
    background-color: rgb(255, 0, 0);
    height: 12.5px;
    width: 12.5px;
    margin-left: 650%;
    border-radius: 50%;
    border: 2px solid var(--color-button-hover);
}

.user-avatar-waiting,
.user-name-waiting,
.user-score-waiting {
    opacity: 0.6;
}
