<div class="container">
    <div class="header-container">
        <div class="title">
            <span class="header">{{ 'waitingRoom.waitingRoom' | translate }}</span>
        </div>
        <div class="game-info-container">
            <div class="game-info">
                <div class="timer-container">
                    <mat-icon fontSet="material-icons-outlined" class="info-icon">timer</mat-icon>
                    <span class="timer">{{ this.getTime(this.waitingRoomService.gameInfo.time) }}</span>
                </div>
                <div class="dictionary-container">
                    <mat-icon class="info-icon">menu_book</mat-icon>
                    <span class="dictionary">{{ this.waitingRoomService.gameInfo.dictionary }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="middle-container">
        <div class="players-container">
            <div class="number-players-container">
                <span class="number-players-title">{{ 'waitingRoom.players' | translate }}</span>
                <div class="action-button-container">
                    <ng-template [ngIf]="this.waitingRoomService.isSelfGameCreator" [ngIfElse]="notCreator">
                        <button class="action-button-top" *ngIf="this.waitingRoomService.gameInfo.openSpots > 0" (click)="inviteUser()">
                            {{ 'waitingRoom.invite' | translate }}
                        </button>
                    </ng-template>

                    <ng-template #notCreator>
                        <button
                            class="action-button-top"
                            *ngIf="
                                !this.waitingRoomService.isSelfOnPlayerSpot &&
                                (this.waitingRoomService.gameInfo.openSpots > 0 || this.waitingRoomService.gameInfo.virtualPlayers.length > 0)
                            "
                            (click)="takePlayerSpot()"
                        >
                            {{ 'waitingRoom.takePlace' | translate }}
                        </button>
                    </ng-template>
                </div>
            </div>
            <div class="users" *ngFor="let user of this.waitingRoomService.gameInfo.players">
                <div class="user-avatar">
                    <img
                        *ngIf="user.avatar"
                        [ngClass]="selfUserService.user.id === this.user.id ? 'avatar-self' : 'avatar'"
                        src="{{ user.avatar }}"
                        (click)="openUserClickOptions(user, $event)"
                        (contextmenu)="openUserClickOptions(user, $event)"
                    />
                </div>
                <div class="user-name">
                    {{
                        this.waitingRoomService.gameInfo.creatorName === user.username
                            ? ('waitingRoom.creator' | translate: { creatorName: user.username })
                            : user.username
                    }}
                </div>
                <div class="user-score">
                    {{ user.statistics.elo }}
                </div>
                <div class="button-container">
                    <button
                        class="action-button"
                        *ngIf="this.waitingRoomService.isSelfGameCreator && this.waitingRoomService.gameInfo.creatorName !== user.username"
                        (click)="kickUserOut(user.id)"
                    >
                        {{ 'waitingRoom.kickOut' | translate }}
                    </button>
                </div>
            </div>
            <div class="users" *ngFor="let user of this.waitingRoomService.gameInfo.invitedUsers">
                <div class="user-avatar-waiting">
                    <img
                        *ngIf="user.avatar"
                        [ngClass]="selfUserService.user.id === this.user.id ? 'avatar-self' : 'avatar'"
                        src="{{ user.avatar }}"
                        (click)="openUserClickOptions(user, $event)"
                        (contextmenu)="openUserClickOptions(user, $event)"
                    />
                </div>
                <div class="user-name-waiting">
                    {{ 'waitingRoom.invitedPlayer' | translate: { name: user.username } }}
                </div>
                <div class="user-score-waiting">
                    {{ user.statistics.elo }}
                </div>
                <div class="button-container">
                    <button
                        class="action-button"
                        *ngIf="this.waitingRoomService.isSelfGameCreator && this.waitingRoomService.gameInfo.creatorName !== user.username"
                        (click)="revokeInvite(user.id)"
                    >
                        {{ 'waitingRoom.revokeInvite' | translate }}
                    </button>
                </div>
            </div>
            <div class="users" *ngFor="let bot of this.waitingRoomService.gameInfo.virtualPlayers">
                <div class="user-avatar">
                    <div class="circle">
                        <img *ngIf="bot.avatar" class="avatar" src="{{ bot.avatar }}" />
                    </div>
                </div>
                <div class="user-name">
                    {{ bot.username }}
                </div>
                <div class="user-score"></div>
                <div class="button-container">
                    <button class="action-button" *ngIf="this.waitingRoomService.isSelfGameCreator" (click)="removeVirtualPlayer(bot.username)">
                        {{ 'waitingRoom.kickOut' | translate }}
                    </button>
                </div>
            </div>
            <div
                class="users"
                *ngFor="
                    let openSpot of [].constructor(
                        this.waitingRoomService.gameInfo.openSpots ??
                            0 - this.waitingRoomService.gameInfo.players.length + this.waitingRoomService.gameInfo.invitedUsers.length ??
                            0
                    );
                    let i = index
                "
            >
                <div class="user-avatar">
                    <div
                        class="circle"
                        *ngIf="this.waitingRoomService.isSelfGameCreator"
                        matTooltip="{{ 'waitingRoom.removeSpot' | translate }}"
                        [matTooltipShowDelay]="150"
                        (click)="removeSpot()"
                    >
                        <mat-icon class="close-icon">close</mat-icon>
                    </div>
                </div>
                <div class="empty-name">
                    <span class="empty">{{ 'waitingRoom.empty' | translate }}</span>
                </div>
                <div class="button-container">
                    <button class="action-button" *ngIf="this.waitingRoomService.isSelfGameCreator" (click)="addVirtualPlayer()">
                        {{ 'waitingRoom.addVirtualPlayer' | translate }}
                    </button>
                </div>
            </div>

            <div class="add-spot-container">
                <div *ngIf="validateSpotIsAddable()" class="add-spot">
                    <div class="circle" *ngIf="this.waitingRoomService.isSelfGameCreator" (click)="addSpot()">
                        <mat-icon class="close-icon">add</mat-icon>
                    </div>
                </div>
            </div>
        </div>

        <div class="observers-container">
            <div class="number-players-container">
                <div *ngIf="this.waitingRoomService.isSelfGameCreator && this.waitingRoomService.gameInfo.isPrivate" class="private-button-container">
                    <div [ngClass]="isObserverSelected ? 'selected-private' : 'unselected-private'" (click)="setObserver()">
                        <span class="number-players-title">{{ 'waitingRoom.observer' | translate }}</span>
                    </div>

                    <div [ngClass]="isWaitingSelected ? 'selected-private' : 'unselected-private'" (click)="setWaiting()">
                        <span class="number-players-title">{{ 'waitingRoom.waitingToJoin' | translate }}</span>
                        <div *ngIf="this.waitingRoomService.notificationOn && !isWaitingSelected" class="new-circle-container">
                            <div class="new-circle"></div>
                        </div>
                    </div>
                </div>

                <div *ngIf="!this.waitingRoomService.isSelfGameCreator || !this.waitingRoomService.gameInfo.isPrivate">
                    <div class="observer-title">
                        <span class="number-players">{{ 'waitingRoom.observer' | translate }}</span>
                    </div>
                </div>

                <div
                    *ngIf="!this.waitingRoomService.isSelfGameCreator && !this.waitingRoomService.isSelfOnObserverSpot"
                    class="action-button-container"
                >
                    <button class="action-button-top" (click)="takeObserverSpot()">
                        {{ 'waitingRoom.joinAsObserver' | translate }}
                    </button>
                </div>
            </div>
            <div class="observers-list-container" *ngIf="this.waitingRoomService.waitingToJoin.length > 0 && isWaitingSelected">
                <div class="users" *ngFor="let user of this.waitingRoomService.waitingToJoin">
                    <div class="user-avatar">
                        <img
                            *ngIf="user.avatar"
                            class="avatar"
                            src="{{ user.avatar }}"
                            (contextmenu)="openUserClickOptions(user, $event)"
                            (click)="openUserClickOptions(user, $event)"
                        />
                    </div>
                    <div class="user-name">
                        {{ user.username }}
                    </div>
                    <div class="user-score">
                        {{ user.statistics.elo }}
                    </div>
                    <div class="button-container-watch">
                        <div class="invite-button-container">
                            <button class="invite-button" (click)="acceptRequest(user)">{{ 'common.accept' | translate }}</button>
                        </div>
                        <div class="invite-button-container">
                            <button class="invite-button" (click)="declineRequest(user)">{{ 'common.decline' | translate }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="observers-list-container" *ngIf="this.waitingRoomService.gameInfo.observers.length > 0 && isObserverSelected">
                <div class="users" *ngFor="let user of this.waitingRoomService.gameInfo.observers">
                    <div class="user-avatar">
                        <img
                            *ngIf="user.avatar"
                            [ngClass]="selfUserService.user.id === this.user.id ? 'avatar-self' : 'avatar'"
                            src="{{ user.avatar }}"
                            (click)="openUserClickOptions(user, $event)"
                            (contextmenu)="openUserClickOptions(user, $event)"
                        />
                    </div>
                    <div class="user-name">
                        {{ user.username }}
                    </div>
                    <div class="user-score">
                        {{ user.statistics.elo }}
                    </div>
                    <div class="button-container">
                        <button class="action-button" *ngIf="this.waitingRoomService.isSelfGameCreator" (click)="kickUserOut(user.id)">
                            {{ 'waitingRoom.kickOut' | translate }}
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="this.waitingRoomService.waitingToJoin.length === 0 && isWaitingSelected">
                <div class="no-observer">
                    <span>{{ 'waitingRoom.noWaiting' | translate }}</span>
                </div>
            </div>
            <div *ngIf="this.waitingRoomService.gameInfo.observers.length === 0 && isObserverSelected">
                <div class="no-observer">
                    <span>{{ 'waitingRoom.noObserver' | translate }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-container">
        <button *ngIf="!this.waitingRoomService.isSelfGameCreator" class="leave-game" (click)="leaveGame()">
            {{ 'waitingRoom.leaveGame' | translate }}
        </button>
        <button *ngIf="this.waitingRoomService.isSelfGameCreator" class="launch-game" (click)="cancelGame()">
            {{ 'waitingRoom.cancelGame' | translate }}
        </button>
        <button *ngIf="this.waitingRoomService.isSelfGameCreator" class="launch-game" (click)="launchGame()">
            {{ 'waitingRoom.launch' | translate }}
        </button>
    </div>
</div>
