.token-wrapper {
    height: 2.25vw;
    width: 2.25vw;
    border: 2.5px solid rgb(117, 97, 63);
    border-bottom: 4px solid rgb(117, 97, 63);
    border-top: 0.5px solid rgb(117, 97, 63);
    margin: 0 5px 0 5px;
    background-color: rgb(235, 218, 171);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    cursor: grab;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.token-wrapper:focus {
    outline: none !important;
}

.letter {
    font-size: 26px;
    width: 100%;
    height: 100%;
    margin-top: -5px;
    text-align: center;
}

.weight {
    padding-right: 2px;
    text-align: center;
    font-size: 13px;
    padding-left: 16.5px;
    position: absolute;
    margin-top: -3.5px;
}

.token-wrapper-exchange {
    height: 2.25vw;
    width: 2.25vw;
    border: 2.5px solid rgb(200, 0, 0);
    border-bottom: 4px solid rgb(200, 0, 0);
    border-top: 0.5px solid rgb(200, 0, 0);
    margin: 0 5px 0 5px;
    background-color: rgb(235, 218, 171);
    display: flex;
    justify-content: center;
    align-items: center;
}

.exchange-letter {
    color: rgb(200, 0, 0);
    font-size: 26px;
    width: 100%;
    height: 100%;
    margin-top: -5px;
}

.exchange-weight {
    color: rgb(200, 0, 0);
    padding-right: 2px;
    text-align: center;
    font-size: 13px;
    padding-left: 16.5px;
    position: absolute;
    margin-top: -3.5px;
}
