<div
    class="token-wrapper"
    *ngIf="!this.letterRackService.exchangeIndexes.includes(index)"
    (mousedown)="selectLetter($event)"
    (mouseup)="unselectLetter($event)"
    #token
>
    <div>
        <div class="letter">
            {{ letter }}
        </div>
        <div class="weight">
            {{ weight }}
        </div>
    </div>
</div>
<div class="token-wrapper-exchange" *ngIf="this.letterRackService.exchangeIndexes.includes(index)">
    <div>
        <div class="exchange-letter">
            {{ letter }}
        </div>
        <div class="exchange-weight">
            {{ weight }}
        </div>
    </div>
</div>
