<div class="side-bar-menu" [class.opened]="areUsersShown">
    <mat-icon *ngIf="!areUsersShown" (click)="areUsersShown = !areUsersShown" class="chevron-right">chevron_right</mat-icon>
    <mat-icon *ngIf="areUsersShown" (click)="areUsersShown = !areUsersShown" class="chevron-left">chevron_left</mat-icon>
</div>

<div class="online-users" [class.opened]="areUsersShown">
    <app-online-users></app-online-users>
</div>
<div class="container">
    <div *ngIf="!this.gameServiceProxy.isGameEnded" class="current-turn-container">
        <div *ngIf="this.gameServiceProxy.currentlyPlayingIndex !== -1" class="active-player">
            {{ 'gamePage.infoPanel.currentTurn' | translate: { name: this.gameServiceProxy.currentPlayer.user.username } }}
        </div>
        <div class="timer-container">
            {{ this.timerService.time.minutes }}:{{
                this.timerService.time.seconds < 10 ? '0' + this.timerService.time.seconds : this.timerService.time.seconds
            }}
        </div>
    </div>
    <div *ngIf="this.gameServiceProxy.isGameEnded" class="current-turn-container">
        <div class="game-over">
            {{ 'gamePage.infoPanel.gameOver' | translate }}
        </div>
    </div>
    <div class="players-container">
        <div
            *ngFor="let player of this.gameServiceProxy.players; let i = index"
            [ngClass]="player.isBotPlayer && this.gameServiceProxy.isPlayer ? 'bot' : 'players'"
            (contextmenu)="openUserClickOptions(player, $event, i)"
            (click)="openUserClickOptions(player, $event, i)"
        >
            <div class="avatar-container">
                <img *ngIf="player.user.avatar" class="avatar" src="{{ player.user.avatar }}" />
            </div>

            <div class="username-container">
                <div *ngIf="this.gameServiceProxy.currentPlayer.user.username === player.user.username" class="username-active">
                    {{ player.user.username }}
                </div>
                <div *ngIf="this.gameServiceProxy.currentPlayer.user.username !== player.user.username" class="username">
                    {{ player.user.username }}
                </div>
            </div>

            <div class="score-container">
                <div class="score">{{ player.points <= 1 ? player.points + ' point' : player.points + ' points' }}</div>
            </div>
            <div *ngIf="isActionShown && player.user.username === this.currentAction.player.username" class="action-container">
                <div class="action-tooltip">{{ currentAction.action }}</div>
            </div>
        </div>
    </div>

    <div class="reserve-container">
        {{ 'gamePage.infoPanel.letterBank' | translate: { remainingLetters: this.letterBankService.letterBank.length } }}
    </div>

    <div class="quit-container">
        <button *ngIf="gameServiceProxy.isPlayer && !gameServiceProxy.isGameEnded" class="button" (click)="quitGame()">
            {{ 'gamePage.infoPanel.abandon' | translate }}
        </button>
        <button *ngIf="!gameServiceProxy.isPlayer" class="button" (click)="quitGame()">{{ 'gamePage.infoPanel.leave' | translate }}</button>
        <div *ngIf="gameServiceProxy.isPlayer && gameServiceProxy.isGameEnded">
            <button class="button" (click)="quitGame()">
                {{ 'gamePage.infoPanel.leave' | translate }}
            </button>
        </div>
    </div>
</div>
