.container {
    height: 100%;
    background-color: var(--color-background-1);
    padding: 0 20px;
    font-family: 'tahoma';
    color: var(--color-text);
}

.clickable {
    text-decoration-line: underline;
    font-weight: bold;
}

.clickable:hover {
    cursor: pointer;
}

.current-turn-container {
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--color-border-1);
}

.game-over {
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: 'Tahoma';
    color: var(--color-text);
    font-size: 24px;
    padding-top:65px;
}

.active-player {
    width: 100%;
    margin-top: 36px;
    font-size: 20px;
    text-align: center;
}

.timer-container {
    width: 100%;
    text-align: center;
    font-size: 42px;
}

.players-container {
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    border-bottom: 1px solid var(--color-border-1);
}

.players {
    width: 100%;
    height: 57.5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    cursor: pointer;
}

.bot {
    width: 100%;
    height: 57.5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
}

.players:hover {
    background-color: var(--color-background-2);
}

.avatar-container {
    width: 15%;
    display: flex;
    justify-content: flex-end;
}

.avatar {
    border-radius: 50%;
    width: 41px;
    height: 41px;
    border: 1px solid var(--color-border-1);
}

.no-avatar {
    border-radius: 50%;
    font-size: 41px;
    width: 41px;
    height: 41px;
    color: var(--color-text);
    border: 1px solid var(--color-border-1);
}

.username-container {
    width: 50%;
    margin-left: 10px;
}

.username-active {
    color: rgb(189, 6, 0);
    font-weight: bold;
    font-size: 16px;
    animation: pulse-animation 1s infinite;
}

.score-container {
    width: 25%;
    display: flex;
    justify-content: flex-end;
}

.reserve-container {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.quit-container {
    height: 35%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.button {
    width: 100px;
    height: 35px;
    font-size: 14px;
    font-family: 'tahoma';
    color: var(--color-text);
    background-color: var(--color-button);
    outline: none;
    border: 1px solid var(--color-border-1);
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--color-button-hover);
}

.action-container {
    position: absolute;
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.action-tooltip {
    background-color: var(--color-background-1);
    position: absolute !important;
    z-index: 999 !important;
    border: 2px solid var(--color-text);
    color: var(--color-text) !important;
    width: 165px;
    font-family: 'tahoma';
    font-size: 18px;
    padding: 2.5px 10px !important;
    margin: 0 !important;
    align-self: center;
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    overflow: visible !important;
    border-radius: 7.5px !important;

    &:after,
    &:before {
        content: '';
        display: block;
        position: absolute;
        border-style: solid;
        right: 100%;
    }

    &:after {
        top: calc(50% - 10px);
        border-color: transparent var(--color-background-1) transparent transparent;
        border-width: 10px;
    }

    &:before {
        top: calc(50% - 13px);
        border-color: transparent var(--color-text) transparent transparent;
        border-width: 13px;
    }
}

.side-bar-menu {
    background-color: transparent;
    width: 22.5%;
    position: absolute;
    border-right: 1px solid var(--color-border-1);
    z-index: 999;
}

.side-bar-menu.opened {
    background-color: var(--color-background-2);
    animation: animateLeft 0.2s;
    @keyframes animateLeft {
        from {
            left: -300px;
            opacity: 0;
        }
        to {
            left: 0;
            opacity: 1;
        }
    }
}

.chevron-left {
    margin-left: 90%;
    // margin-top: -5px;
    color: var(--color-text);
    cursor: pointer;
    padding-top: 5px;
    width: 40px;
    height: 40px;
    font-size: 40px;
}

.chevron-right {
    color: var(--color-text);
    cursor: pointer;
    padding-top: 10px;
    padding-left: 10px;
    width: 40px;
    height: 40px;
    font-size: 40px;
}

.chevron:hover,
.menu:hover {
    color: var(--color-border-1);
}

.online-users {
    display: none;
    position: absolute;
}

.online-users.opened {
    display: block;
    margin-top: 1.5%;
    height: 95%;
    width: 22.5%;
    border-right: 1px solid var(--color-border-1);
    padding: 0 -20px;
    position: absolute;
    animation: animateLeft 0.2s;
    @keyframes animateLeft {
        from {
            left: -300px;
            opacity: 0;
        }
        to {
            left: 0;
            opacity: 1;
        }
    }
}
