.container {
    background-color: var(--color-background-1);
    height: 7.5vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-bottom: solid 0.25vh var(--color-border-1);
}

.header-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 100%;
}

.title-container {
    display: flex;
    align-items: center;
    font-family: 'tahoma';
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 28px;
    color: var(--color-text);
    margin-left: 35px;
}

.profile-container {
    margin: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 100%;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 2px solid var(--color-border-2);
}
