<div class="container">
    <div class="header-container">
        <div class="title-container">PolyScrabble</div>
        <div class="profile-container">
            <img class="logo" (click)="openMenu($event)" src="{{ getAvatar() }}" />
        </div>
    </div>
</div>
