<div class="container">
    <div class="close-container">
        <div class="close-button-icon">
            <mat-icon class="clear-icon" (click)="cancelRequest()">close</mat-icon>
        </div>
    </div>
    <div class="text-container">
        <span class="text">{{ 'mainPage.joinableGames.waitingCreator' | translate }}</span>
    </div>
    <div class="spinner-container">
        <mat-spinner></mat-spinner>
    </div>

    <div class="button-container">
        <button class="cancel-button" (click)="cancelRequest()">{{ 'common.cancel' | translate }}</button>
    </div>
</div>



