.container {
    height: 250px;
}

.text {
    font-size: 18px;
    font-family: 'Tahoma';
    color: var(--color-text);
    text-align: center;
}

.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55%;
    width: 100%;
}

.spinner-container ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
    stroke: rgb(119, 57, 219);
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 15%;
    font-size: 20px;
    font-family: 'tahoma';
    color: var(--color-text);
}

.close-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 10%;
}

.close-button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    color: var(--color-text);
}

.button-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 20%;
}

.cancel-button {
    width: 40%;
    height: 90%;
    background-color: var(--color-button);
    border: 1px solid var(--color-border-1);
    border-radius: 5px;
    color: var(--color-text);
    cursor: pointer;
    font-size: 14px;
    font-family: 'tahoma';
    outline: none;
}

.cancel-button:hover {
    background-color: var(--color-button-hover);
}

.cancel-button {
    height: 70%;
}
