<div class="container">
    <div class="header-container">
        <div class="close-container">
            <div class="close-button" (click)="closeModal()">
                <mat-icon class="clear-icon">close</mat-icon>
            </div>
        </div>
        <span class="header">{{ 'channels.createChannel' | translate }}</span>
    </div>
    <div class="middle-container">
        <div class="setting-header">
            <span>{{ 'channels.name' | translate }}</span>
            <span *ngIf="!isFormValid" class="error">{{ 'channels.invalidName' | translate }}</span>
        </div>
        <div class="setting-content">
            <div class="input-container">
                <input #channelName type="text" class="channel-name" autocomplete="new-username" />
            </div>
        </div>
    </div>
    <div class="footer-container">
        <div class="button-footer-container">
            <button class="cancel-button" (click)="closeModal()">{{ 'common.cancel' | translate }}</button>
            <button class="create-button" (click)="confirm()">{{ 'channels.confirmCreation' | translate }}</button>
        </div>
    </div>
</div>
