// .container {
//     width: 500px;
//     height: 150px;
//     background-color: var(--color-background-1);
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
// }

// .upper-container {
//     width: 100%;
//     height: 70%;
//     display: flex;
//     justify-content: space-evenly;
//     align-items: center;
//     margin: 0 2.5%;
// }

// .header-container {
//     display: flex;
//     justify-content: center;
//     flex-wrap: wrap;
//     width: 100%;
//     align-items: flex-start;
//     height: 15%;
// }

// .header {
//     font-size: 28px;
//     font-family: 'tahoma';
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     color: var(--color-text);
// }

// .close-container {
//     display: flex;
//     justify-content: flex-end;
//     width: 100%;
// }

// .close-button {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background-color: transparent;
//     cursor: pointer;
//     color: var(--color-text);
// }

// .button-container {
//     width: 60%;
//     height: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// .send-button {
//     width: 100%;
//     height: 40%;
//     background-color: var(--color-button);
//     border: 1px solid var(--color-border-1);
//     border-radius: 5px;
//     color: var(--color-text);
//     cursor: pointer;
//     font-size: 14px;
//     font-family: 'tahoma';
//     margin: 0 80px;
// }

// .search-bar-container {
//     width: 65%;
//     height: 40%;
//     display: flex;
//     justify-content: center;
//     border: 1px solid var(--color-border-1);
//     border-radius: 5px;
// }

// .search-bar {
//     width: 95%;
//     border: none;
//     outline: none;
//     padding: 0 15px;
//     border-radius: 5px;
//     font-family: 'tahoma';
//     font-size: 20px;
//     background-color: var(--color-background-1);
//     color: var(--color-text);
// }

// .send-button:hover{
//     background-color: var(--color-button-hover);
// }

// .footer-container {
//     height: 10%;
//     border-top: 1px solid var(--color-button-hover);
//     width: 100%;
// }

// .button-footer-container {
//     width: 100%;
//     height: 100%;
//     display: flex;
//     justify-content: space-evenly;
//     align-items: flex-end;
// }

// .cancel-button,
// .create-button {
//     width: 35%;
//     height: 60%;
//     background-color: var(--color-button);
//     border: 1px solid var(--color-border-1);
//     border-radius: 5px;
//     color: var(--color-text);
//     cursor: pointer;
//     font-size: 14px;
//     font-family: 'tahoma';
// }

// .cancel-button:hover,
// .create-button:hover {
//     background-color: var(--color-button-hover);
// }
.container {
    width: 500px;
    height: 250px;
    background-color: var(--color-background-1);
}

.header-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
    height: 20%;
    border-bottom: 1px solid var(--color-border-1);
}

.close-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    color: var(--color-text);
}

.header {
    font-size: 28px;
    font-family: 'tahoma';
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--color-text);
    margin-bottom: 5px;
}

.middle-container {
    display: flex;
    flex-wrap: wrap;
    height: 50%;
    width: 100%;
    align-items: center;
    align-content: center;
}

.middle-content {
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    width: 100%;
    align-items: baseline;
}

.sub-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.setting-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--color-text);
}

.setting-content {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.number-container,
.dictionary-container {
    width: 80%;
    border: 1px solid var(--color-border-1);
    background-color: var(--color-background-2);
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 15px;
    border-radius: 7.5px;
    font-size: 18px;
    font-family: 'tahoma';
    color: var(--color-text);
}

.input-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-border-1);
    background-color: var(--color-background-2);
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    border-radius: 7.5px;
    font-size: 18px;
    font-family: 'tahoma';
    color: var(--color-text);
}

.channel-name {
    background-color: transparent;
    width: 100%;
    outline: none;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 7.5px;
    font-size: 18px;
    font-family: 'tahoma';
    color: var(--color-text);
}

.error {
    color: red;
    font-size: 14px;
    font-family: 'tahoma';
    margin-left: 25px;
}

.title-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-border-1);
    background-color: var(--color-background-2);
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    border-radius: 7.5px;
    font-size: 18px;
    font-family: 'tahoma';
    color: var(--color-text);
    cursor: pointer;
}

.title-container:hover {
    background-color: var(--color-button-hover);
}

.title-container-clicked {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-border-1);
    border-bottom: 0px;
    background-color: var(--color-background-2);
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    border-radius: 7.5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    font-family: 'tahoma';
    color: var(--color-text);
    cursor: pointer;
}

.current-dictionary {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.dictionary-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.menu-item {
    width: 100%;
}

.details-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.details-container {
    width: 100%;
}

.dictionary-title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.password {
    background-color: transparent;
    width: 90%;
    outline: none;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    outline: none;
    font-size: 18px;
    font-family: 'tahoma';
    color: var(--color-text);
}

.visibility {
    width: 10%;
    text-align: center;
    cursor: pointer;
}

.dictionary-container {
    width: 100%;
    padding-left: -10px !important;
}

.button-container {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button {
    width: 92.5%;
    display: flex;
    justify-content: space-between;
}

.plus-minus-button {
    height: 40px;
    width: 40px;
    background-color: var(--color-background-2);
    color: var(--color-text);
    border: 1px solid var(--color-border-1);
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    font-family: 'tahoma';
    border-radius: 7.5px;
    cursor: pointer;
}

.plus-minus-button:hover {
    background-color: var(--color-button-hover);
}

.footer-container {
    height: 30%;
    border-top: 1px solid var(--color-button-hover);
    width: 100%;
}

.button-footer-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.cancel-button,
.create-button {
    width: 35%;
    height: 52.5%;
    background-color: var(--color-button);
    border: 1px solid var(--color-border-1);
    border-radius: 5px;
    color: var(--color-text);
    cursor: pointer;
    font-size: 14px;
    font-family: 'tahoma';
}

.cancel-button:hover,
.create-button:hover {
    background-color: var(--color-button-hover);
}
