<div class="container">
    <div class="header-container">
        <div class="close-container">
            <div class="close-button" (click)="closeModal()">
                <mat-icon class="clear-icon">close</mat-icon>
            </div>
        </div>
        <span class="header">{{ 'mainPage.createGame.createGame' | translate }}</span>
    </div>
    <div class="middle-container">
        <div class="middle-content">
            <div class="sub-container">
                <div class="setting-header">
                    <span>{{ 'mainPage.createGame.numberPlayers' | translate }}</span>
                </div>
                <div class="setting-content">
                    <div class="number-container">{{ numberPlayer }}</div>
                    <div class="button-container">
                        <div class="button">
                            <button #decrementPlayer (click)="decrementPlayerNumber()" class="plus-minus-button">-</button>
                            <button #incrementPlayer (click)="incrementPlayerNumber()" class="plus-minus-button">+</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sub-container">
                <div class="setting-header">
                    <span>{{ 'mainPage.createGame.dictionary' | translate }}</span>
                </div>
                <div class="setting-content">
                    <button
                        [ngClass]="[dropdownStyle]"
                        (menuClosed)="triggerClosedStyle()"
                        (menuOpened)="triggerOpenedStyle()"
                        [matMenuTriggerFor]="dictionaryTitle"
                    >
                        <div class="current-dictionary">{{ selectedDictionary }}</div>
                        <div class="arrow">▼</div>
                    </button>
                </div>
                <mat-menu class="dictionary-list" #dictionaryTitle="matMenu">
                    <div
                        class="details-container"
                        mat-menu-item
                        *ngFor="let dictionary of dictionaryProxyService.dictionaryList"
                        (click)="selectDictionary(dictionary.title)"
                    >
                        <div class="dictionary-title">{{ dictionary.title }} - {{ dictionary.description }}</div>
                    </div>
                </mat-menu>
            </div>

            <div class="sub-container">
                <div class="setting-header">
                    <span>{{ 'mainPage.createGame.timer' | translate }}</span>
                </div>
                <div class="setting-content">
                    <div #timer class="number-container">
                        {{ this.timerValue.minutes + ':' + this.timerValue.seconds }}{{ this.timerValue.seconds === 0 ? '0' : '' }}
                    </div>
                    <div class="button-container">
                        <div class="button">
                            <button #decrementTimer (click)="decrementTimerValue()" class="plus-minus-button">-</button>
                            <button #incrementTimer (click)="incrementTimerValue()" class="plus-minus-button">+</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sub-container">
                <div class="setting-header">
                    <span>{{ 'mainPage.joinableGames.accessType' | translate }}</span>
                </div>
                <div class="setting-content">
                    <button
                        [ngClass]="[dropdownStyleAccess]"
                        (menuClosed)="triggerClosedStyleAccess()"
                        (menuOpened)="triggerOpenedStyleAccess()"
                        [matMenuTriggerFor]="access"
                    >
                        <div class="current-dictionary">{{ this.selectedAccessType | translate }}</div>
                        <div class="arrow">▼</div>
                    </button>
                </div>
                <mat-menu class="dictionary-list" #access="matMenu">
                    <div class="details-container" mat-menu-item *ngFor="let access of this.accessType" (click)="selectAccessType(access)">
                        <div class="dictionary-title">{{ access | translate }}</div>
                    </div>
                </mat-menu>
            </div>

            <div *ngIf="this.selectedAccessType === 'mainPage.filterGames.publicAccess'" class="sub-container">
                <div class="setting-header">
                    <span>{{ 'mainPage.createGame.password' | translate }}</span>
                </div>
                <div class="setting-content">
                    <div class="input-container">
                        <input #password type="password" class="password" autocomplete="new-password" />
                        <mat-icon *ngIf="isPasswordShown" (click)="togglePasswordVisibility()" class="visibility">visibility</mat-icon>
                        <mat-icon *ngIf="!isPasswordShown" (click)="togglePasswordVisibility()" class="visibility">visibility_off</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-container">
        <div class="button-footer-container">
            <button class="cancel-button" (click)="closeModal()">{{ 'common.cancel' | translate }}</button>
            <button class="create-button" (click)="createGame()">{{ 'mainPage.createGame.confirmCreation' | translate }}</button>
        </div>
    </div>
</div>
