#grid-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background-1);
    height:100%;
}

#canvas {
    border: 1px solid var(--color-border-1);
    background-color: var(--color-background-2);
    // Caution : do not add padding here, it will mess up the matrix coordinates
}
