<div class="container">
    <div class="close-container">
        <div class="close-button-icon" (click)="closeModal()">
            <mat-icon class="clear-icon">close</mat-icon>
        </div>
    </div>
    <div class="text-container">
        <span class="text">{{ 'waitingRoom.canceledGame' | translate }}</span>
    </div>
    <div class="button-container">
        <button class="close-button" (click)="closeModal()">OK</button>
    </div>
</div>
