<app-header></app-header>
<div class="container">
    <app-online-users class="online-users-section"></app-online-users>
    <app-waiting-room class="central-section"></app-waiting-room>
    <app-communication-box class="chat-section"></app-communication-box>
    <app-channels-banner class="channels-section"></app-channels-banner>
</div>
