.container {
    background-color: var(--color-background-2);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.general-channel-container {
    width: 100%;
    height: 7.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid var(--color-border-1);
}

.channels-container {
    width: 100%;
    height: 62.5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid var(--color-border-1);
}

.middle-container,
.middle-container-alone {
    width:100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.middle-container {
    height: 20%;
    box-sizing: border-box;
    border-bottom: 1px solid var(--color-border-1);
}

.middle-container-alone {
    height: 30%;
}

.create-channel-container {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.search-channel-container {
    width: 100%;
    height: 55px;   
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.game-channel-container {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.scrollable-area {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    max-height: 95%;
    height: 95%;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.channel-for {
    width: 100%;
    display: flex;
    justify-content: center;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7.5%;
}

// .game-channel-container {
//     width: 95%;
//     height: 15%;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     border-top: 1px solid var(--color-border-1);
// }

.channel {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background-1);
    border: 1px solid var(--color-border-1);
    cursor: pointer;
    margin: 7.5% 0;
    box-sizing: border-box;
}

.channel:hover {
    box-sizing: border-box;
    border: 2px solid rgb(44, 125, 172);
}

.selected-channel {
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background-1);
    border: 3px solid orange;
    cursor: pointer;
    margin: 7.5% 0;
}

.square-channel {
    border-radius: 10px;
}

.circle-channel {
    border-radius: 50%;
}

.general-icon {
    font-size: 40px;
    width: 40px;
    height: 40px;
    color: var(--color-text);
    cursor: pointer;
}

.channel-first-letter {
    font-size: 22px;
    font-family: tahoma;
    color: var(--color-text);
}

// ::ng-deep .mat-tooltip {
//     background-color: var(--color-button-hover);
//     color: var(--color-text) !important;
//     font-family: 'tahoma';
//     font-size: 18px;
//     padding-top: 2.5px;
//     padding-bottom: 2.5px;
//     margin: 0 !important;
// }

.new-circle-container {
    align-self: flex-end;
    justify-self: flex-end;
    position: absolute;
}

.new-circle {
    background-color: rgb(255, 0, 0);
    height: 12.5px;
    width: 12.5px;
    margin-left: 35px;
    margin-top: -51px;
    border-radius: 50%;
    border: 2px solid var(--color-button-hover);
}

::ng-deep .test {
    background-color: var(--color-button-hover);
    color: var(--color-text) !important;
    font-family: 'tahoma';
    font-size: 18px;
    padding: 2.5px 10px !important;
    margin: 0 !important;
    margin-right: 10px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    overflow: visible !important;
    border-radius: 7.5px !important;

    &::before {
        content: '';
        display: block;
        position: absolute;
        border-style: solid;
        left: 100%;
        border-color: transparent transparent transparent var(--color-button-hover);
        border-width: 12px;
        top: calc(50% - 12px);
    }
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 0.15vw;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--color-background-1);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-border-1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-border-2);
}
