<div class="container">
    <div class="general-channel-container">
        <!-- Global channel -->
        <div
            [ngClass]="{
                'selected-channel': this.clientChannelService.currentChannelIndex === -1,
                channel: this.clientChannelService.currentChannelIndex !== -1,
                'square-channel': true
            }"
            matTooltip="{{ this.clientChannelService.globalChannel.channel.name }}"
            [matTooltipClass]="'test'"
            matTooltipShowDelay="250"
            matTooltipPosition="left"
            (click)="changeChannel(-1)"
        >
            <mat-icon class="general-icon">groups</mat-icon>
            <div
                *ngIf="this.clientChannelService.globalChannel.newMessages && this.clientChannelService.currentChannelIndex !== -1"
                class="new-circle-container"
            >
                <div class="new-circle"></div>
            </div>
        </div>
    </div>

    <div class="channels-container">
        <!-- Other channels -->
        <div class="scrollable-area">
            <div *ngFor="let channel of this.clientChannelService.joinedChannels; let i = index" (click)="changeChannel(i)" class="channel-for">
                <div
                    [ngClass]="{
                        'selected-channel': this.clientChannelService.currentChannelIndex === i,
                        channel: this.clientChannelService.currentChannelIndex !== i,
                        'square-channel': !channel.channel.directMessage,
                        'circle-channel': channel.channel.directMessage
                    }"
                    matTooltip="{{ channel.channel.name }}"
                    [matTooltipClass]="'test'"
                    matTooltipShowDelay="250"
                    matTooltipPosition="left"
                >
                    <div *ngIf="!channel.channel.directMessage" class="channel-first-letter">{{ channel.channel.name[0].toUpperCase() }}</div>
                    <img
                        *ngIf="channel.channel.directMessage"
                        class="avatar"
                        src="{{
                            selfUserService.user.id === channel.channel.users[0].id
                                ? channel.channel.users[1].avatar
                                : channel.channel.users[0].avatar
                        }}"
                    />
                    <div *ngIf="channel.newMessages && this.clientChannelService.currentChannelIndex !== i" class="new-circle-container">
                        <div class="new-circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div [ngClass]="this.clientChannelService.gameChannel.length > 0 ? 'middle-container' : 'middle-container-alone'">
        <div class="create-channel-container">
            <div class="channel square-channel">
                <mat-icon class="general-icon" (click)="createChannel()">add</mat-icon>
            </div>
        </div>

        <div class="search-channel-container">
            <div class="channel square-channel">
                <mat-icon class="general-icon" (click)="searchChannels()">manage_search</mat-icon>
            </div>
        </div>
    </div>

    <!-- Game channel -->
    <div class="game-channel-container" *ngIf="this.clientChannelService.gameChannel.length > 0">
        <div
            [ngClass]="{
                'selected-channel': this.clientChannelService.currentChannelIndex === -2,
                channel: this.clientChannelService.currentChannelIndex !== -2,
                'square-channel': true
            }"
            matTooltip="{{ this.clientChannelService.gameChannel[0].channel.name | translate }}"
            [matTooltipClass]="'test'"
            matTooltipShowDelay="250"
            matTooltipPosition="left"
            (click)="changeChannel(-2)"
        >
            <mat-icon class="general-icon">sports_esports</mat-icon>
            <div
                *ngIf="this.clientChannelService.gameChannel[0].newMessages && this.clientChannelService.currentChannelIndex !== -2"
                class="new-circle-container"
            >
                <div class="new-circle"></div>
            </div>
        </div>
    </div>
</div>
