<div class="container">
    <div class="header-container">
        <div class="close-container">
            <div class="close-button" (click)="closeModal()">
                <mat-icon class="clear-icon">close</mat-icon>
            </div>
        </div>
        <span class="header">{{ 'mainPage.filterGames.filterGames' | translate }}</span>
    </div>
    <div class="middle-container">
        <div class="middle-content">
            <div class="sub-container">
                <div class="setting-header">
                    <span>{{ 'mainPage.joinableGames.accessType' | translate }}</span>
                </div>
                <div class="setting-content">
                    <button
                        [ngClass]="[dropdownStyleAccess]"
                        (menuClosed)="triggerClosedStyleAccess()"
                        (menuOpened)="triggerOpenedStyleAccess()"
                        [matMenuTriggerFor]="access"
                    >
                        <div class="current-dictionary">{{ this.selectedAccessType | translate }}</div>
                        <div class="arrow">▼</div>
                    </button>
                </div>
                <mat-menu class="dictionary-list" #access="matMenu">
                    <div class="details-container" mat-menu-item *ngFor="let access of this.accessType" (click)="selectAccessType(access)">
                        <div class="dictionary-title">{{ access | translate }}</div>
                    </div>
                </mat-menu>
            </div>

            <div class="sub-container">
                <div class="setting-header">
                    <span>{{ 'mainPage.createGame.dictionary' | translate }}</span>
                </div>
                <div class="setting-content">
                    <button
                        [ngClass]="[dropdownStyleDictionary]"
                        (menuClosed)="triggerClosedStyleDictionary()"
                        (menuOpened)="triggerOpenedStyleDictionary()"
                        [matMenuTriggerFor]="dictionaryTitle"
                    >
                        <div class="current-dictionary">{{ this.selectedDictionary | translate }}</div>
                        <div class="arrow">▼</div>
                    </button>
                </div>
                <mat-menu class="dictionary-list" #dictionaryTitle="matMenu">
                    <div class="details-container" mat-menu-item *ngFor="let dictionary of this.dictionaries" (click)="selectDictionary(dictionary)">
                        <div class="dictionary-title">{{ dictionary | translate }}</div>
                    </div>
                </mat-menu>
            </div>

            <div class="sub-container">
                <div class="setting-header">
                    <span>{{ 'mainPage.createGame.timer' | translate }}</span>
                    <input #allTimer (change)="toggleAllTimer()" class="all-check-box" type="checkbox" id="allTimer" name="allTimer" checked />
                    <label for="allTimer">{{ 'mainPage.filterGames.all' | translate }}</label>
                </div>
                <div class="setting-content">
                    <div #timer class="number-container">
                        {{ this.timerValue.minutes + ':' + this.timerValue.seconds }}{{ this.timerValue.seconds === 0 ? '0' : '' }}
                    </div>
                    <div class="button-container">
                        <div class="button">
                            <button (click)="decrementTimerValue()" class="plus-minus-button">-</button>
                            <button (click)="incrementTimerValue()" class="plus-minus-button">+</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sub-container">
                <div class="setting-header">
                    <span>{{ 'mainPage.filterGames.players' | translate }}</span>
                    <input
                        #allPlayers
                        (change)="toggleAllPlayers()"
                        class="all-check-box"
                        type="checkbox"
                        id="allPlayers"
                        name="allPlayers"
                        checked
                    />
                    <label for="allPlayers">{{ 'mainPage.filterGames.all' | translate }}</label>
                </div>
                <div class="setting-content">
                    <div #players class="number-container">{{ numberPlayer }}</div>
                    <div class="button-container">
                        <div class="button">
                            <button (click)="decrementPlayerNumber()" class="plus-minus-button">-</button>
                            <button (click)="incrementPlayerNumber()" class="plus-minus-button">+</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-container">
        <div class="button-footer-container">
            <button class="cancel-button" (click)="closeModal()">{{ 'common.cancel' | translate }}</button>
            <button class="create-button" (click)="applyFilters()">{{ 'mainPage.filterGames.applyFilters' | translate }}</button>
        </div>
    </div>
</div>
