.container {
    width: 500px;
    height: 550px;
    background-color: var(--color-background-1);
}

.header-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
    height: 15%;
    border-bottom: 1px solid var(--color-border-1);
}

.close-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    color: var(--color-text);
}

.header {
    font-size: 28px;
    font-family: 'tahoma';
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--color-text);
}

.middle-container {
    display: flex;
    flex-wrap: wrap;
    height: 75%;
    width: 100%;
    align-items: center;
}

.middle-content {
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    width: 100%;
    align-items: baseline;
}

.sub-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.setting-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--color-text);
}

.setting-content {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.number-container,
.dictionary-container {
    width: 80%;
    border: 1px solid var(--color-border-1);
    background-color: var(--color-background-2);
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 15px;
    border-radius: 7.5px;
    font-size: 18px;
    font-family: 'tahoma';
    color: var(--color-text);
}

.disabled-container{
    opacity: 0.35;
}

.input-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-border-1);
    background-color: var(--color-background-2);
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    border-radius: 7.5px;
    font-size: 18px;
    font-family: 'tahoma';
    color: var(--color-text);
}

.game-name {
    background-color: transparent;
    width: 100%;
    outline: none;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 7.5px;
    font-size: 18px;
    font-family: 'tahoma';
    color: var(--color-text);
}

.error {
    color: red;
    font-size: 14px;
    font-family: 'tahoma';
    margin-left: 25px;
}

.title-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-border-1);
    background-color: var(--color-background-2);
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    border-radius: 7.5px;
    font-size: 18px;
    font-family: 'tahoma';
    color: var(--color-text);
    cursor: pointer;
}

.title-container:hover {
    background-color: var(--color-button-hover);
}

.title-container-clicked {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-border-1);
    border-bottom: 0px;
    background-color: var(--color-background-2);
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    border-radius: 7.5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    font-family: 'tahoma';
    color: var(--color-text);
    cursor: pointer;
}

.current-dictionary {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.dictionary-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.menu-item {
    width: 100%;
}

.details-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

::ng-deep .mat-menu-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--color-button);
    align-items: center;
    width: 497.5px !important;
    padding: 0;
    max-width: none !important;
    overflow-x: hidden !important;
    border: 1px solid var(--color-border-1);
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    max-height: 175px !important;
    overflow-y: scroll !important;
}

::ng-deep .mat-menu-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100% !important;
    max-width: none !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden !important;
}

::ng-deep.mat-menu-item {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100% !important;
    height: 40px !important;
    color: var(--color-text);
    padding: 5px 15px !important;
    line-height: 125% !important;
    font-size: 16px;
}

::ng-deep.mat-menu-item:hover {
    background-color: var(--color-button-hover) !important;
}

.details-container {
    width: 100%;
}

.dictionary-title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.password {
    background-color: transparent;
    width: 90%;
    outline: none;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    outline: none;
    font-size: 18px;
    font-family: 'tahoma';
    color: var(--color-text);
}

.visibility {
    width: 10%;
    text-align: center;
    cursor: pointer;
}

.dictionary-container {
    width: 100%;
    padding-left: -10px !important;
}

.button-container {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button {
    width: 92.5%;
    display: flex;
    justify-content: space-between;
}

.plus-minus-button {
    height: 40px;
    width: 40px;
    background-color: var(--color-background-2);
    color: var(--color-text);
    border: 1px solid var(--color-border-1);
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    font-family: 'tahoma';
    border-radius: 7.5px;
    cursor: pointer;
}

.plus-minus-button:hover {
    background-color: var(--color-button-hover);
}

.footer-container {
    height: 10%;
    border-top: 1px solid var(--color-button-hover);
    width: 100%;
}

.button-footer-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.cancel-button,
.create-button {
    width: 35%;
    height: 60%;
    background-color: var(--color-button);
    border: 1px solid var(--color-border-1);
    border-radius: 5px;
    color: var(--color-text);
    cursor: pointer;
    font-size: 14px;
    font-family: 'tahoma';
}

.cancel-button:hover,
.create-button:hover {
    background-color: var(--color-button-hover);
}

.label-container {
    width: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.check-container {
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
    font-family: 'tahoma';
    color: var(--color-text);
}

.all-check-box {
    margin-left: 15px;
}
