.container {
    width: 500px;
    height: 180px;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65%;
    font-size: 20px;
    flex-wrap: wrap;
    font-family: 'tahoma';
    color: var(--color-text);
    text-align: center;
}

.button-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 25%;
}

.close-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height:10%;
}

.close-button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    color: var(--color-text);
}

.text,
.sub-text {
    width: 100%;
    text-align: center;
}

.sub-text{
    margin-top: 10px;
}

.cancel-button,
.confirm-button {
    width: 20%;
    height: 75%;
    background-color: var(--color-button);
    border: 1px solid var(--color-border-1);
    border-radius: 5px;
    color: var(--color-text);
    cursor: pointer;
    font-size: 14px;
    font-family: 'tahoma';
    outline: none;
}

.cancel-button:hover,
.confirm-button:hover {
    background-color: var(--color-button-hover);
}
