<div class="container">
    <div class="close-container">
        <div class="close-button-icon" (click)="closeDialog()">
            <mat-icon class="clear-icon">close</mat-icon>
        </div>
    </div>
    <div class="text-container">
        <span class="text">{{
            openSpots === 1
                ? ('waitingRoom.launchGame.singleRemainingSpot' | translate)
                : ('waitingRoom.launchGame.remainingSpots' | translate: { openSpot: openSpots })
        }}</span>
        <span class="sub-text">{{ 'waitingRoom.launchGame.launchAnyway' | translate }}</span>
    </div>
    <div class="button-container">
        <button class="cancel-button" (click)="closeDialog()">{{ 'common.no' | translate }}</button>
        <button class="confirm-button" (click)="launchGame()">{{ 'common.yes' | translate }}</button>
    </div>
</div>
