.container {
    width: 500px;
    height: 100px;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55%;
    font-size: 20px;
    font-family: 'tahoma';
    color: var(--color-text);
}

.button-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 35%;
}

.close-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height:10%;
}

.close-button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    color: var(--color-text);
}


.cancel-button,
.confirm-button{
    width: 20%;
    height: 90%;
    background-color: var(--color-button);
    border: 1px solid var(--color-border-1);
    border-radius: 5px;
    color: var(--color-text);
    cursor: pointer;
    font-size: 14px;
    font-family: 'tahoma';
    outline: none;
}

.cancel-button:hover,
.confirm-button:hover {
    background-color: var(--color-button-hover);
}