<div class="container">
    <div class="close-container">
        <div class="close-button-icon" (click)="closeDialog()">
            <mat-icon class="clear-icon">close</mat-icon>
        </div>
    </div>
    <div class="text-container">
        <span class="text">{{ 'gamePage.infoPanel.abandonGame' | translate }}</span>
    </div>
    <div class="button-container">
        <button class="cancel-button" (click)="closeDialog()">{{ 'common.cancel' | translate }}</button>
        <button class="confirm-button" (click)="quitGame()">{{ 'common.confirm' | translate }}</button>
    </div>
</div>
