// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$widthRatio: calc(100vw / 1920px);
$heightRatio: calc(100vh / 1080px);

$indigo-pink-theme: mat.define-light-theme(
    (
        color: (
            primary: mat.define-palette(mat.$indigo-palette),
            accent: mat.define-palette(mat.$pink-palette, A200, A100, A400),
            warn: mat.define-palette(mat.$red-palette),
        ),
    )
);

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-dialog-container {
    border-radius: 0.4rem;
    border: solid;
    border-width: 0.01rem;
    border-color: var(--color-border-1);
    background-color: var(--color-background-1);
    display: flex;
    flex-direction: column;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.mat-stroked-button.mat-primary {
    border: solid;
    border-color: #5c5745;
    border-width: 0.01rem;
    background-color: #e7ddd0;
    color: black;
}

.mat-stroked-button.mat-button-disabled {
    background-color: rgba(228, 223, 202, 0.801);
    border: none;
}

.backdrop {
    background-color: var(--color-text);
    opacity: 0.3 !important;
}

.backdrop-dropdown .mat-dialog-container {
    padding: 0px !important;
}

/*Add light theme color here*/
:root {
    --color-background-1: rgb(245, 245, 245);
    --color-background-2: rgb(235, 235, 235);
    --color-border-1: rgb(170, 170, 170);
    --color-border-2: rgb(45, 45, 45);
    --color-text: rgb(0, 0, 0);
    --color-button: rgb(245, 245, 245);
    --color-button-hover: rgb(200, 200, 200);
    --color-input-button: rgba(226, 226, 226, 255);
    --color-input-button-disabled: rgba(206, 206, 206, 255);
}

/*Add dark theme color here*/
[data-theme='dark'] {
    --color-background-1: rgb(45, 45, 45);
    --color-background-2: rgb(34, 34, 34);
    --color-border-1: rgb(199, 199, 199);
    --color-border-2: rgb(190, 190, 190);
    --color-text: rgb(255, 255, 255);
    --color-button: rgb(30, 30, 30);
    --color-button-hover: rgb(75, 75, 75);
    --color-input-button: rgb(45, 45, 45);
    --color-input-button-disabled: rgba(206, 206, 206, 255);
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}
