.container {
    padding: 5px 10px;
}

.option {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 5px 0;
    cursor: pointer;
    width: 100%;
    color: var(--color-text);
}

.label-container {
    width: auto;
    color: var(--color-text);
}

.label-container:hover {
    color: var(--color-border-1);
}

.icon-container {
    width: 20%;
    display: flex;
    justify-content: center;
}

.option-icon {
    display: flex;
    justify-content: center;
    color: var(--color-text);
    font-size: 25px;
    width: 25px;
    height: 25px;
}
