<div class="container">
    <div *ngIf="checkIsObserver()" class="option" (click)="watchPlayer()">
        <div class="icon-container">
            <mat-icon class="option-icon">visibility</mat-icon>
        </div>
        <div class="label-container">{{ 'userInteractions.watchPlayer' | translate }}</div>
    </div>
    <div class="option" (click)="openProfileDialog()">
        <div class="icon-container">
            <mat-icon class="option-icon">account_box</mat-icon>
        </div>
        <div class="label-container">{{ 'userInteractions.seeProfile' | translate }}</div>
    </div>
    <div class="option" *ngIf="this.selfUserService.user.id !== this.userId" (click)="sendDM()">
        <div class="icon-container">
            <mat-icon class="option-icon">chat</mat-icon>
        </div>
        <div class="label-container">{{ 'userInteractions.sendMessage' | translate }}</div>
    </div>

    <div *ngIf="this.friendServiceProxy.checkIfRequestPossible(this.userId)" class="option" (click)="sendFriendRequest()">
        <div class="icon-container">
            <mat-icon class="option-icon">person_add</mat-icon>
        </div>
        <div class="label-container">{{ 'userInteractions.addFriend' | translate }}</div>
    </div>

    <div *ngIf="this.friendServiceProxy.checkIsFriend(this.userId)" class="option" (click)="removeFriend()">
        <div class="icon-container">
            <mat-icon class="option-icon">person_remove</mat-icon>
        </div>
        <div class="label-container">{{ 'userInteractions.removeFriend' | translate }}</div>
    </div>
</div>
