<div *ngIf="isLoggedIn && !isThemeSelected && !isLanguageSelected" class="container">
    <div class="username-container">
        <p class="username">{{ this.userService.user.username }}</p>
    </div>

    <div class="option">
        <div class="icon-container">
            <mat-icon class="option-icon">account_box</mat-icon>
        </div>
        <div (click)="openProfile()" class="label-container">{{ 'menuSettings.editProfile' | translate }}</div>
    </div>

    <div class="option" (click)="showThemes()">
        <div class="icon-container">
            <mat-icon class="option-icon">color_lens</mat-icon>
        </div>
        <div class="label-container">{{ 'menuSettings.selectTheme' | translate }}</div>
    </div>

    <div class="option" (click)="showLanguages()">
        <div class="icon-container">
            <mat-icon class="option-icon">translate</mat-icon>
        </div>
        <div class="label-container">{{ 'menuSettings.selectLanguage' | translate }}</div>
    </div>

    <div class="option" (click)="logout()">
        <div class="icon-container">
            <mat-icon class="option-icon">logout</mat-icon>
        </div>
        <div class="label-container">{{ 'menuSettings.signOut' | translate }}</div>
    </div>
</div>

<div *ngIf="!isLoggedIn && !isThemeSelected && !isLanguageSelected" class="container">
    <div class="option" (click)="showThemes()">
        <div class="icon-container">
            <mat-icon class="option-icon">color_lens</mat-icon>
        </div>
        <div class="label-container">{{ 'menuSettings.selectTheme' | translate }}</div>
    </div>

    <div class="option" (click)="showLanguages()">
        <div class="icon-container">
            <mat-icon class="option-icon">translate</mat-icon>
        </div>
        <div class="label-container">{{ 'menuSettings.selectLanguage' | translate }}</div>
    </div>
</div>

<app-color-theme-selector *ngIf="isThemeSelected"></app-color-theme-selector>
<app-language-selector *ngIf="isLanguageSelected"></app-language-selector>
