<div class="container">
    <div class="header-container">
        <div class="close-container">
            <div class="close-button" (click)="closeModal()">
                <mat-icon class="clear-icon">close</mat-icon>
            </div>
        </div>
        <span class="header">{{ clientChannelService.current.channel.name }}</span>
    </div>
    <div class="middle-container">
        <div *ngIf="clientChannelService.current.channel.users.length === 1" class="no-users-container">
            <div class="no-users-container">
                <span>{{ 'channels.onlyUser' | translate }}</span>
            </div>
        </div>
        <ng-container *ngIf="clientChannelService.currentChannelIndex === -1">
            <!-- Global room, show online users only -->
            <div *ngFor="let user of globalUserService.onlineUsers" class="channel-users">
                <app-user-element class="channel-user" [user]="user"></app-user-element>
            </div>
        </ng-container>
        <ng-container *ngIf="clientChannelService.currentChannelIndex !== -1">
            <div *ngFor="let user of clientChannelService.current.channel.users" class="channel-users">
                <app-user-element class="channel-user" [user]="user"></app-user-element>
            </div>
        </ng-container>
    </div>
</div>
