<div class="container-input">
    <div class="close-container">
        <div class="close-button-icon" (click)="closeModal()">
            <mat-icon class="clear-icon">close</mat-icon>
        </div>
    </div>
    <div class="text-container-input">
        <span class="text">{{ 'gamePage.blankLetter.select' | translate }}</span>
    </div>
    <div class="input-container">
        <input [(ngModel)]="letter" class="input" />

        <div class="invalid-input-container" *ngIf="!this.isLetterValid">
            <span class="invalid-input">{{ 'gamePage.blankLetter.error' | translate }}</span>
        </div>
    </div>
    <div class="button-container-input">
        <button class="cancel-button" (click)="closeModal()">{{ 'common.cancel' | translate }}</button>
        <button class="validate-button" (click)="validateLetter()">{{ 'common.confirm' | translate }}</button>
    </div>
</div>
