.container {
    width: 500px;
    height: 100px;
}

.container-input {
    width: 500px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.close-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height:10%;
}

.close-button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    color: var(--color-text);
}

// .input-container {
//     width: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     border: 1px solid var(--color-border-1);
//     background-color: var(--color-background-2);
//     height: 40px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     border-radius: 7.5px;
//     font-size: 18px;
//     font-family: 'tahoma';
//     color: var(--color-text);
// }

.input {
    border: 1px solid var(--color-border-1);
    background-color: var(--color-background-2);
    border-radius: 7.5px;
    width: 85%;
    outline: none;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    outline: none;
    font-size: 18px;
    font-family: 'tahoma';
    color: var(--color-text);
}

.visibility {
    width: 10%;
    text-align: center;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    font-size: 20px;
    font-family: 'tahoma';
    color: var(--color-text);
}

.button-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 40%;
}

.observer-button,
.cancel-button,
.validate-button,
.player-button {
    width: 30%;
    height: 90%;
    background-color: var(--color-button);
    border: 1px solid var(--color-border-1);
    border-radius: 5px;
    color: var(--color-text);
    cursor: pointer;
    font-size: 14px;
    font-family: 'tahoma';
    outline: none;
}

.observer-button:hover,
.player-button:hover,
.cancel-button:hover,
.validate-button:hover {
    background-color: var(--color-button-hover);
}

.cancel-button,
.validate-button {
    height: 85%;
}

.text-container-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    font-size: 16px;
    font-family: 'tahoma';
    color: var(--color-text);
}

.input-container {
    height: 40%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.button-container-input {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 20%;
    width: 100%;
}

.invalid-input-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invalid-input {
    font-size: 14px;
    color: red;
    font-family: 'tahoma';
}
