<div class="container">
    <div class="header-container">
        <div class="close-container">
            <div class="close-button" (click)="closeModal()">
                <mat-icon class="clear-icon">close</mat-icon>
            </div>
        </div>
        <span class="header">{{ 'friendRequest.sendFriendRequest' | translate}}</span>
        <div class="search-bar-container">
            <div class="search-icon-container">
                <mat-icon class="search-icon">search</mat-icon>
            </div>
            <input
                [(ngModel)]="searchBarContent"
                (ngModelChange)="filterUsers()"
                class="search-bar"
                placeholder="{{ 'waitingRoom.searchUser' | translate}}"
                autocomplete="new-username"
            />
        </div>
    </div>
    <div class="middle-container">
        <div *ngFor="let user of filteredUsers" class="online-user">
            <div class="avatar-container">
                <img *ngIf="user.avatar" class="avatar" src="{{ user.avatar }}" />
                <mat-icon *ngIf="!user.avatar" class="no-avatar">person</mat-icon>
                <div class="online-circle-container">
                    <div class="online-circle"></div>
                </div>
            </div>

            <div class="username-container">
                <div class="username">{{ user.username }}</div>
            </div>

            <div class="score-container">
                <div class="score">1500</div>
            </div>
            <div class="invite-button-container">
                <button class="invite-button" (click)="inviteUser(user.id)">{{ 'friendRequest.invite' | translate}}</button>
            </div>
        </div>
    </div>
</div>
