<div class="container">
    <div class="option-container">
        <mat-icon class="setting-icon" (click)="openMenu($event)">settings</mat-icon>
    </div>
    <div class="login-container">
        <img
            *ngIf="this.colorThemeService.selectedTheme === '' || this.colorThemeService.selectedTheme === 'funky'"
            src="assets/images/logo_dark.png"
            width="400"
            height="80"
            alt="Logo Scrabble"
        />
        <img *ngIf="this.colorThemeService.selectedTheme === 'dark'" src="assets/images/logo_light.png" width="400" height="80" alt="Logo Scrabble" />

        <div class="form-group">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <mat-card-title class="form-label">{{ 'loginPage.login' | translate }}</mat-card-title> <br />

                <p class="error">{{ errorMsg | translate }}</p>

                <mat-form-field appearance="fill">
                    <mat-label>{{ 'loginPage.username' | translate }}</mat-label>
                    <input matInput maxlength="10" autocomplete="off" formControlName="username" required class="form-label" />
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>{{ 'loginPage.password' | translate }}</mat-label>
                    <input matInput type="password" formControlName="password" autocomplete="off" required class="form-label" />
                </mat-form-field>

                <br />
                <br />

                <button *ngIf="loginForm.valid" mat-raised-button class="login-button" type="submit" [disabled]="!loginForm.valid">
                    {{ 'loginPage.signIn' | translate }}
                </button>

                <button *ngIf="!loginForm.valid" mat-raised-button id="disabled" type="submit" [disabled]="!loginForm.valid">
                    {{ 'loginPage.signIn' | translate }}
                </button>
            </form>

            <hr />
            <button mat-raised-button routerLink="/register" class="register-button">{{ 'loginPage.signUp' | translate }}</button>
        </div>
    </div>
</div>
