.container {
    height: 100vh;
    overflow: hidden;
    background-color: var(--color-background-1);
}

.option-container {
    background-color: var(--color-background-1);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 1.5vh;
    padding-top: 1.5vh;
    overflow: hidden;
}

.setting-icon {
    font-size: 32px;
    height: 32px;
    width: 32px;
    color: var(--color-text);
    cursor: pointer;
}

.setting-icon:hover{
    color:var(--color-border-1);
}

.login-container {
    height: 95vh;
    background-color: var(--color-background-1);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

img {
    margin-bottom: 100px;
}

.form-group {
    background-color: var(--color-background-2);
    padding: 10px;
    border: 1px solid var(--color-border-2);
    text-align: center;
}

.error {
    padding-top: 10px;
    color: red;
    font-size: large;
}

.mat-form-field {
    width: 80%;
    justify-content: center;
}

hr {
    width: 80%;
    height: 1px;
    background-color: var(--color-border-2);
    border: 0;
}

button {
    width: 80%;
    cursor: pointer;
}
.form-label {
    color: var(--color-text);
}
//TODO
.login-button {
    background-color: rgb(36, 202, 125);
    margin-bottom: 10px;
    margin-top: 15px;
    color: var(--color-text);
}

#disabled {
    background-color: var(--color-input-button-disabled);
    margin-bottom: 10px;
    margin-top: 15px;
    margin: auto;
    color: var(--color-text);
    opacity: 40%;
}

.login-button:hover {
    background-color: rgb(36, 180, 113);
}

.register-button {
    background-color: rgb(74, 163, 223);
    margin-top: 10px;
    margin-bottom: 15px;
    color: black;
}

.register-button:hover {
    background-color: rgb(60, 140, 194);
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background: var(--color-input-button);
    color: var(--color-text);
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-label {
    color: var(--color-text) !important;
}
