<app-header class="header"></app-header>
<div class="container">
    <app-info-panel class="setting-panel-section"></app-info-panel>
    <div class="central-section">
        <app-play-area class="play-area" tabindex="-1"></app-play-area>
        <div class="border"></div>
        <app-letter-rack class="letter-rack" tabindex="-1"></app-letter-rack>
    </div>
    <div class="right-section">
        <div class="communication-section">
            <app-communication-box class="chat-section"></app-communication-box>
            <app-channels-banner class="channels-section"></app-channels-banner>
        </div>
    </div>
</div>
