.container {
    display: flex;
    width: 100%;
    height: 100vh;
    z-index: 0;
    justify-content: center;
}

.setting-panel-section {
    width: 22.5%;
    z-index: 3;
    background-color: var(--color-background-1);
}

.central-section {
    width: 51.5%;
    height: 100%;
    border-left: 1px solid var(--color-border-1);
    border-right: 1px solid var(--color-border-1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: var(--color-background-1);
}

.central-section-observer {
    width: 51.5%;
    height: 100%;
    border-left: 1px solid var(--color-border-1);
    border-right: 1px solid var(--color-border-1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 2;
    background-color: var(--color-background-1);
}

.play-area {
    height: 82.5%;
    width: 100%;
    background-color: var(--color-background-1);
    outline: none;
}

.play-area-observer {
    height: 100%;
    width: 100%;
    background-color: var(--color-background-1);
    outline: none;
}


.border{
    // height:0.5%;
    width:100%;
    border-bottom: 1px solid var(--color-border-1);
}

.letter-rack {
    width: 90%;
    height: 15.5%;
    background-color: var(--color-background-1);
    outline: none;

}

.right-section {
    width: 26%;
    height: 92.5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-self: flex-end;
}

.header {
    width: 100%;
    height: 7.5vh;
    position: absolute;
    z-index: 1;
}

.communication-section {
    width: 100%;
    height: 92.25vh;
    display: flex;
}

.chat-section {
    width: 84.6%;
}

.channels-section {
    width: 15.4%;
    border-left: 1px solid var(--color-border-1);
}
