<div class="modal-container">
    <div class="container">
        <div *ngIf="!checkIsInGame()" class="hoverable spacing" (click)="openAvatarDlg()">
            <img class="logo" src="{{ getAvatar() }}" />
            <div class="hover-text">{{ 'profile.edit' | translate }}</div>
            <div class="background"></div>
        </div>

        <div *ngIf="checkIsInGame()" class="spacing">
            <img class="logo-game" src="{{ getAvatar() }}" />
            <div class="background"></div>
        </div>

        <div class="infos">
            <div class="size">
                <mat-hint class="red">{{ this.errorMsg }}</mat-hint>
            </div>
            <div *ngIf="!editingUsername" class="current-username" (click)="enableEditing()">
                <span class="username"> {{ getUsername() }}</span>
                <span *ngIf="!checkIsInGame()" class="material-icons editIcon">mode_edit</span>
            </div>

            <div *ngIf="editingUsername" matTooltip="8 caractères minimum, une lettre (a-z), un chiffre (0-9)" matTooltipClass="tooltip">
                <mat-form-field [style.width.px]="150">
                    <mat-label>Nom d'utilisateur</mat-label>
                    <input
                        class="form-label"
                        #btnFocus
                        matInput
                        [autofocus]="btnFocus.focus()"
                        (keyup.enter)="retrieveNewUsername($event)"
                        type="text"
                        value="{{ getUsername() }}"
                        (blur)="disableEditing()"
                    />
                </mat-form-field>
            </div>
        </div>
    </div>

    <hr />

    <div class="bottom-container">
        <div class="stats-container">
            <div class="elo-container">
                <div class="elo">{{ 'profile.statistics.elo' | translate }} {{ this.selfUserService.user.statistics.elo }}</div>
            </div>

            <div class="rank-container">
                <div class="rank">{{ 'profile.statistics.rank' | translate }} {{ this.selfUserService.user.statistics.rank }}</div>
            </div>

            <div class="stat-container">
                <div *ngIf="this.selfUserService.user.statistics.gamesPlayed <= 1" class="stats">
                    {{ 'profile.statistics.gamePlayedSingle' | translate }} {{ this.selfUserService.user.statistics.gamesPlayed }}
                </div>
                <div *ngIf="this.selfUserService.user.statistics.gamesPlayed > 1" class="stats">
                    {{ 'profile.statistics.gamePlayedMultiple' | translate }} {{ this.selfUserService.user.statistics.gamesPlayed }}
                </div>
            </div>
            <div class="stat-container">
                <div *ngIf="this.selfUserService.user.statistics.gamesWon <= 1" class="stats">
                    {{ 'profile.statistics.gameWonSingle' | translate }} {{ this.selfUserService.user.statistics.gamesWon }}
                </div>
                <div *ngIf="this.selfUserService.user.statistics.gamesWon > 1" class="stats">
                    {{ 'profile.statistics.gameWonMultiple' | translate }} {{ this.selfUserService.user.statistics.gamesWon }}
                </div>
            </div>
            <div class="stat-container">
                <div *ngIf="this.selfUserService.user.statistics.gamesLost <= 1" class="stats">
                    {{ 'profile.statistics.gameLostSingle' | translate }} {{ this.selfUserService.user.statistics.gamesLost }}
                </div>
                <div *ngIf="this.selfUserService.user.statistics.gamesLost > 1" class="stats">
                    {{ 'profile.statistics.gameLostMultiple' | translate }} {{ this.selfUserService.user.statistics.gamesLost }}
                </div>
            </div>
            <div class="stat-container">
                <div class="stats">{{ 'profile.statistics.avgPoint' | translate }} {{ this.selfUserService.user.statistics.averagePointByGame }}</div>
            </div>
            <div class="stat-container">
                <div class="stats-last">
                    {{ 'profile.statistics.avgTime' | translate }}
                    {{ this.selfUserService.user.statistics.averageTimePerGame.minutes }}:{{ displaySeconds() }}
                </div>
            </div>
        </div>
    </div>
</div>
