.modal-container {
    width: 300px;
}

.container {
    display: flex;
    width: 100%;
}

.infos {
    align-self: flex-end;
}

.logo:hover {
    cursor: pointer;
}

.current-username {
    width: 150px;
}

.username {
    font-size: x-large;
    vertical-align: super;
    color: var(--color-text);
}

.editIcon {
    cursor: pointer;
    color: var(--color-text);
}
.size {
    width: 140px;
}
.red {
    color: red;
    font-size: small;
}

.green {
    color: green;
}

::ng-deep .mat-form-field-wrapper {
    margin-bottom: -1em;
}

.hint {
    font-size: x-small;
}

.form-label {
    color: var(--color-text);
}

.spacing {
    margin: 15px 15px 0 15px;
}

.logo, .logo-game {
    max-width: 100%;
    width: 90px;
    height: 90px;
    border-radius: 50px;
    border: 3px solid var(--color-border-2);
}

.hoverable {
    position: relative;
    display: block;
    cursor: pointer;
}

.hoverable .hover-text {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.hoverable .background {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    bottom: 3%;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    border-radius: 50px;
    z-index: 1;
}
.hoverable:hover .hover-text {
    display: block;
}
.hoverable:hover .background {
    display: block;
}

.stats-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.elo-container,
.rank-container,
.stats-container,
.stat-container {
    width: 100%;
    color: var(--color-text);
    font-family: 'Tahoma';
}

.elo {
    font-size: 18px;
    font-weight: bolder;
    margin: 5px 0;
    margin-top: 10px;
}

.rank {
    font-size: 14px;
    margin: 5px 0;
}

.stats {
    margin: 5px 0;
    font-size: 14px;
}

.stats-last {
    margin-top: 5px;
    font-size: 14px;
}
