.container {
    width: 100%;
    height: 100%;
    background-color: var(--color-background-1);
}

.category-container {
    width: 100%;
    height: 7.5%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--color-background-2);
}

.category-button,
.category-button-friends {
    width: 45%;
    height: 65%;
    color: var(--color-text);
    background-color: var(--color-background-2);
    border: 1px solid var(--color-border-1);
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: 'Tahoma';
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.category-button-friends {
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-button:hover,
.category-button-friends:hover {
    background-color: var(--color-background-2);
}

.online-users-container,
.friends-container {
    padding: 0 15px;
    margin-top: 10px;
}

.friends-container {
    height: 86%;
}

.no-users-container,
.no-friends-container {
    font-size: 14px;
    font-family: 'tahoma';
    margin-top: 40px;
    text-align: center;
    color: var(--color-text);
    height: 90%;
}

.no-users-wrap {
    height: 100%;
}

.friends-list-container {
    height: calc(90% + 40px);
}

.bottom-container {
    height: 7.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.online-user,
.friends {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
}

.avatar-container {
    width: 20%;
    height: 42px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.username-container {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
}

.score-container {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    width: 41px;
    height: 41px;
    border: 1px solid var(--color-border-1);
}

.no-avatar {
    border-radius: 50%;
    font-size: 41px;
    width: 41px;
    height: 41px;
    color: var(--color-text);
    border: 1px solid var(--color-border-1);
}

.online-circle-container {
    align-self: flex-end;
    justify-self: flex-end;
    position: absolute;
}

.online-circle {
    background-color: rgb(0, 190, 0);
    height: 12.5px;
    width: 12.5px;
    border-radius: 50%;
    border: 2px solid var(--color-background-1);
}

.username,
.score {
    font-size: 16px;
    font-family: 'tahoma';
    color: var(--color-text);
}

.add-button {
    width: 80%;
    height: 75%;
    background-color: var(--color-button);
    border: 1px solid var(--color-border-1);
    border-radius: 5px;
    color: var(--color-text);
    cursor: pointer;
    font-size: 14px;
    font-family: 'tahoma';
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-circle-container {
    position: absolute;
    align-self: center;
    justify-self: center;
}

.new-circle {
    background-color: rgb(255, 0, 0);
    height: 12.5px;
    width: 12.5px;
    margin-left: 300%;
    border-radius: 50%;
    border: 2px solid var(--color-button-hover);
}
