<div class="container">
    <div class="category-container">
        <button #onlineUsersButton class="category-button" (click)="showOnlineUsers()">{{ 'onlineUsers.onlineUsers' | translate }}</button>
        <button #friendsButton class="category-button-friends" (click)="showFriends()">
            <div class="button-label">
                {{ 'onlineUsers.friends' | translate }}
            </div>
            <div *ngIf="this.clientFriendService.notificationOn" class="new-circle-container">
                <div class="new-circle"></div>
            </div>
        </button>
    </div>
    <div *ngIf="areOnlineUsersShown" class="online-users-container">
        <div *ngIf="globalUserService.onlineUsers.length === 0" class="no-users-container">
            <div class="no-users-container">
                <span>{{ 'onlineUsers.onlyUser' | translate }}</span>
            </div>
        </div>
        <div *ngFor="let user of globalUserService.onlineUsers">
            <app-user-element class="online-user" [user]="user"></app-user-element>
        </div>
    </div>

    <div *ngIf="areFriendsShown" class="friends-container">
        <div *ngIf="clientFriendService.friends.length === 0" class="no-friends-container">
            <div class="no-users-wrap">
                <span>{{ 'onlineUsers.noFriend' | translate }}</span>
            </div>
        </div>

        <div *ngIf="clientFriendService.friends.length > 0" class="friends-list-container">
            <div *ngFor="let user of clientFriendService.friends">
                <app-user-element class="friends" [user]="user"></app-user-element>
            </div>
        </div>

        <div class="bottom-container">
            <button class="add-button" (click)="openRequestsDialog()">
                <div class="button-label">
                    {{ 'onlineUsers.requests' | translate }}
                </div>
                <div *ngIf="this.clientFriendService.notificationOn" class="new-circle-container">
                    <div class="new-circle"></div>
                </div>
            </button>
        </div>
    </div>
</div>
