<div class="container">
    <span class="title label">{{ 'menuSettings.colorTheme.theme' | translate }}</span>
    <div class="theme-option">
        <input (click)="changeTheme('')" [checked]="colorThemeService.selectedTheme === ''" type="radio" name="theme" class="radio-container" />
        <label (click)="changeTheme('')" for="light" class="label radio-container">{{ 'menuSettings.colorTheme.light' | translate }}</label>
    </div>

    <div class="theme-option">
        <input
            (click)="changeTheme('dark')"
            [checked]="colorThemeService.selectedTheme === 'dark'"
            type="radio"
            name="theme"
            class="radio-container"
        />
        <label (click)="changeTheme('dark')" for="dark" class="label radio-container">{{ 'menuSettings.colorTheme.dark' | translate }}</label>
    </div>
</div>
