<div class="container" *ngIf="!isPasswordProtected">
    <div class="close-container">
        <div class="close-button-icon" (click)="closeModal()">
            <mat-icon class="clear-icon">close</mat-icon>
        </div>
    </div>
    <div class="text-container">
        <span class="text">{{ 'waitingRoom.joinGame.joinGameAs' | translate }}</span>
    </div>
    <div class="button-container">
        <button class="observer-button" (click)="joinWaitingRoom(playerType.Observer)">{{ 'waitingRoom.joinGame.observer' | translate }}</button>
        <button class="player-button" (click)="joinWaitingRoom(playerType.RegularPlayer)">{{ 'waitingRoom.joinGame.player' | translate }}</button>
    </div>
</div>

<div class="container-password" *ngIf="isPasswordProtected">
    <div class="close-container">
        <div class="close-button-icon" (click)="closeModal()">
            <mat-icon class="clear-icon">close</mat-icon>
        </div>
    </div>
    <div class="text-container-password">
        <span class="text">{{ 'waitingRoom.joinGame.passwordProtected' | translate }}</span>
    </div>
    <div class="sub-container-password">
        <div class="password-container">
            <input #password type="password" class="password" autocomplete="new-password" />
            <mat-icon *ngIf="isPasswordShown" (click)="togglePasswordVisibility()" class="visibility">visibility</mat-icon>
            <mat-icon *ngIf="!isPasswordShown" (click)="togglePasswordVisibility()" class="visibility">visibility_off</mat-icon>
        </div>
        <div class="invalid-password-container" *ngIf="!this.isPasswordValid">
            <span class="invalid-password">{{ 'waitingRoom.joinGame.invalidPassword' | translate }}</span>
        </div>
    </div>
    <div class="button-container-password">
        <button class="cancel-button" (click)="closeModal()">{{ 'common.cancel' | translate }}</button>
        <button class="validate-button" (click)="validatePassword()">{{ 'common.confirm' | translate }}</button>
    </div>
</div>
