<div class="container">
    <div class="close-container">
        <div class="close-button" (click)="closeDialog()">
            <mat-icon class="clear-icon">close</mat-icon>
        </div>
    </div>
    <div class="text-container">
        <div class="text-sub-container" *ngIf="winner !== ''; else noWinner">
            <p class="text">{{ 'gamePage.endGame.gameOver' | translate }}</p>
            <p class="text">{{ 'gamePage.endGame.oneWinner' | translate: { name: winner } }}</p>
        </div>
        <ng-template class="text-sub-container" #noWinner>
            <p class="text">{{ 'gamePage.endGame.gameOver' | translate }}</p>
            <p class="text">{{ 'gamePage.endGame.tie' | translate }}</p>
        </ng-template>
    </div>
    <div class="button-container">
        <button *ngIf="gameServiceProxy.isPlayer && gameServiceProxy.isGameEnded" class="button" (click)="createRematch()">
            {{ 'gamePage.infoPanel.rematch' | translate }}
        </button>
        <button *ngIf="gameServiceProxy.isGameEnded" class="button" (click)="quitGame()">
            {{ 'gamePage.infoPanel.leave' | translate }}
        </button>
    </div>
</div>
