.container {
    width: 40rem;
    height: 15rem;
}

.text-container {
    font-size: 2rem;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 50%;
    font-size: 20px;
    font-family: 'tahoma';
    color: var(--color-text);
}

.text-sub-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.button-container {
    height: 27.5%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.close-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height:10%;
}

.close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    color: var(--color-text);
}

.text {
    width: 100%;
    font-size: 2.3rem;
    color: var(--color-text);
    text-align:center;
}
.button {
    width: 8rem;
    height: 2.5rem;
    font-size: 1.4rem;
    font-family: 'tahoma';
    color: var(--color-text);
    background-color: var(--color-button);
    outline: none;
    border: 1px solid var(--color-border-1);
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--color-button-hover);
}
