<div class="container">
    <div class="header-container">
        <div class="close-container">
            <div class="close-button" (click)="closeModal()">
                <mat-icon class="clear-icon">close</mat-icon>
            </div>
        </div>
        <span class="header">{{ 'channels.searchChannel' | translate }}</span>
        <div class="search-bar-container">
            <div class="search-icon-container">
                <mat-icon class="search-icon">search</mat-icon>
            </div>
            <input
                [(ngModel)]="searchBarContent"
                class="search-bar"
                placeholder="{{ 'channels.searchChannel' | translate }}"
                autocomplete="new-username"
            />
        </div>
    </div>
    <div class="middle-container">
        <div *ngIf="globalChannelService.channels.length === 0" class="no-channels-container">
            <div class="no-channels-container">
                <span>{{ 'channels.noChannel' | translate }}</span>
            </div>
        </div>
        <div *ngFor="let channel of filterChannels(globalChannelService.channels)" class="channel">
            <div class="name-container">
                <div class="name">{{ channel.name }}</div>
            </div>
            <div class="join-button-container">
                <button class="join-button" [hidden]="joinedChannel(channel.id)" (click)="globalChannelService.joinChannel(channel.id)">
                    {{ 'channels.joinChannel' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>
