.container {
    width: 500px;
    height: 550px;
    background-color: var(--color-background-1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
    height: 30%;
    border-bottom: 1px solid var(--color-border-1);
    margin-bottom: 10px;
}

.close-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    color: var(--color-text);
}

.header {
    font-size: 28px;
    font-family: 'tahoma';
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    color: var(--color-text);
}

.search-bar-container {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    border: 1px solid var(--color-border-1);
    border-radius: 5px;
    margin-top: 5px;
}

.search-icon-container {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--color-border-1);
    margin: 3px 0;
}

.search-icon,
.filter-icon {
    width: 36px;
    height: 36px;
    font-size: 36px;
    color: var(--color-text);
}

.search-bar {
    width: 95%;
    border: none;
    outline: none;
    padding: 0 10px;
    border-radius: 5px;
    font-family: 'tahoma';
    font-size: 20px;
    background-color: var(--color-background-1);
    color: var(--color-text);
}

.middle-container {
    height: 70%;
    max-height: 70%;
    overflow-y: auto;
}

.channels-container {
    padding: 0 10px;
}

.no-channels-container {
    font-size: 14px;
    font-family: 'tahoma';
    margin-top: 40px;
    text-align: center;
    color: var(--color-text);
}

.channel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
}

.name-container {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
}

.join-button-container {
    width: 27.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.join-button {
    width: 65%;
    height: 70%;
    background-color: var(--color-button);
    border: 1px solid var(--color-border-1);
    border-radius: 5px;
    color: var(--color-text);
    cursor: pointer;
    font-size: 14px;
    font-family: 'tahoma';
}

.join-button:hover {
    background-color: var(--color-button-hover);
}

.name {
    font-size: 16px;
    font-family: 'tahoma';
    color: var(--color-text);
}
