<div class="chat-container">
    <div #textBox class="chatElement" *ngFor="let msg of this.clientChannelService.current?.channel?.messages; let i = index">
        <div class="self-message-container" *ngIf="msg.user.username === this.selfUserServiceProxy.user.username">
            <div
                class="self-message-header"
                *ngIf="i === 0 || (i >= 1 && msg.user.username !== (this.clientChannelService.current?.channel)!.messages[i - 1].user.username)"
            >
                <div class="self-message-author">
                    <span class="message-author">{{ msg.user.username }}</span>
                </div>
            </div>
            <div class="self-message-timestamp">
                <span class="message-timestamp">{{ msg.timestamp }}</span>
            </div>
            <div class="self-message-content">
                <span class="text">{{ msg.output }}</span>
            </div>
            <div class="avatar-container-self">
                <img
                    *ngIf="msg.user.avatar"
                    class="avatar-self"
                    src="{{ msg.user.avatar }}"
                    (contextmenu)="openUserClickOptions(msg.user, $event)"
                    (click)="openUserClickOptions(msg.user, $event)"
                />
            </div>
        </div>
        <div class="other-message-container" *ngIf="msg.user.username !== this.selfUserServiceProxy.user.username" let i="index;">
            <div
                class="other-message-header"
                *ngIf="i === 0 || (i >= 1 && msg.user.username !== (this.clientChannelService.current?.channel)!.messages[i - 1].user.username)"
            >
                <div class="other-message-author">
                    <span class="message-author">{{ msg.user.username }}</span>
                </div>
            </div>
            <div class="avatar-container-other">
                <img
                    *ngIf="msg.user.avatar"
                    class="avatar-other"
                    src="{{ msg.user.avatar }}"
                    (contextmenu)="openUserClickOptions(msg.user, $event)"
                    (click)="openUserClickOptions(msg.user, $event)"
                />
            </div>
            <div class="other-message-content">
                <span class="text">{{ msg.output }}</span>
            </div>
            <div class="other-message-timestamp">
                <span class="message-timestamp">{{ msg.timestamp }}</span>
            </div>
        </div>
    </div>
</div>
