.chat-container {
    height: 82.5%;
    overflow-y: auto;
    word-break: break-word;
    background-color: var(--color-background-1);
    color: var(--color-text);
}

.chatElement {
    outline: none;
    margin: 3% 0;
}

.self-message-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
}

.self-message-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 25px;
    margin-right: 10%;
    padding-right: 8.5px;
}

.self-message-timestamp {
    font-size: 12px;
    height: 100%;
    display: flex;
    align-items: center;
    align-self: center;
    margin-right: 7.5px;
    margin-top: 3.5px;
    color: var(--color-border-2);
}

.self-message-author {
    width: 100%;
    display: flex;
    margin-left: 10px;
    font-size: 13px;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    color: var(--color-border-2);
}

.self-message-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    font-size: 16px;
    width: auto;
    max-width: 65%;
    height: auto;
    background-color: rgb(0, 153, 255);
    color: white;
    padding: 8.5px;
    border-radius: 10px;
    // border-top-right-radius: 1.5px;
    text-align: justify;
    margin-top: 1.5px;
    margin-right: 3px;
}

.other-message-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-left: 15px;
}

.other-message-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 25px;
    margin-left: 10%;
    padding-left: 8.5px;
}

.other-message-timestamp {
    font-size: 12px;
    height: 100%;
    display: flex;
    align-items: center;
    align-self: center;
    margin-left: 7.5px;
    margin-top: 2.5px;
    color: var(--color-border-2);
}

.other-message-author {
    display: flex;
    margin-right: 10px;
    font-size: 13px;
    justify-content: flex-start;
    align-items: flex-end;
    color: var(--color-border-2);
    height: 100%;
}

.other-message-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 16px;
    width: auto;
    max-width: 65%;
    height: auto;
    background-color: rgb(82, 165, 49);
    color: white;
    padding: 8.5px;
    border-radius: 10px;
    text-align: justify;
    margin-top: 1.5px;
    margin-left: 3px;
}

.avatar-container-self,
.avatar-container-other {
    width: 10%;
    height: 32.5px;
    display: flex;
    align-items: flex-end;
    align-self: flex-end;
}

.avatar-container-self {
    justify-content: flex-end;
}

.avatar-container-other {
    justify-content: flex-start;
}

.avatar-self,
.avatar-other {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid var(--color-border-1);
}

.avatar-other {
    cursor: pointer;
}

.no-avatar {
    border-radius: 50%;
    font-size: 30px;
    width: 30px;
    height: 30px;
    color: var(--color-text);
    border: 1px solid var(--color-border-1);
}

::ng-deep .username-tooltip {
    background-color: var(--color-button-hover);
    color: var(--color-text) !important;
    font-family: 'tahoma';
    font-size: 14px;
    padding: 7.5px 7.5px !important;
    margin: 0 !important;
    margin-top: 10px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 0.25vw;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--color-background-1);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-border-1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-border-2);
}
