<div class="container">
    <div class="option-container">
        <mat-icon class="setting-icon" (click)="openMenu($event)">settings</mat-icon>
    </div>

    <div class="register-container">
        <div class="form-group">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <mat-icon class="left grow" routerLink="/login">arrow_back</mat-icon>
                <mat-card-title class="form-label">{{ 'registerPage.register' | translate }}</mat-card-title> <br />

                <p class="error">{{ errorMsg | translate }}</p>

                <mat-form-field hintLabel="" appearance="fill">
                    <mat-label>{{ 'registerPage.username' | translate }}</mat-label>
                    <input matInput maxlength="10" formControlName="username" class="form-label" required />
                    <mat-hint class="form-label">{{ 'registerPage.usernameRequirements' | translate }}</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>{{ 'registerPage.email' | translate }}</mat-label>
                    <input matInput type="text" formControlName="email" required />
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>{{ 'registerPage.password' | translate }}</mat-label>
                    <input matInput type="password" formControlName="password" required />
                    <mat-hint class="form-label">{{ 'registerPage.passwordRequirements' | translate }}</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>{{ 'registerPage.passwordConfirmation' | translate }}</mat-label>
                    <input matInput type="password" formControlName="confirmedPassword" required />
                </mat-form-field>

                <p class="form-label">{{ 'registerPage.avatarChoice' | translate }}</p>

                <div class="avatar-container">
                    <div class="center">
                        <img class="avatar-preview" src="{{ this.getAvatar() }}" />
                        <p class="form-label">{{ this.fileName }}</p>
                    </div>

                    <div class="proposed-container">
                        <img class="proposed-avatar grow" src="assets/images/avatars/avatar-1.svg" (click)="selectAvatar(1)" />
                        <img class="proposed-avatar grow" src="assets/images/avatars/avatar-2.svg" (click)="selectAvatar(2)" />
                        <img class="proposed-avatar grow" src="assets/images/avatars/avatar-3.svg" (click)="selectAvatar(3)" />

                        <br />

                        <img class="proposed-avatar grow" src="assets/images/avatars/avatar-4.svg" (click)="selectAvatar(4)" />
                        <img class="proposed-avatar grow" src="assets/images/avatars/avatar-5.svg" (click)="selectAvatar(5)" />
                        <img class="proposed-avatar grow" src="assets/images/avatars/avatar-6.svg" (click)="selectAvatar(6)" />

                        <br />
                        <br />
                    </div>
                </div>

                <input type="file" accept="image/*" class="file-input" (change)="showPreview($event)" #fileUpload hidden />

                <div class="file-upload">
                    <button mat-raised-button type="button" class="form-label upload-btn" (click)="fileUpload.click()">
                        <img class="upload-icon" src="{{ this.getUploadIcon() }}" /> {{ 'registerPage.uploadAvatar' | translate }}
                    </button>
                </div>

                <hr />

                <button *ngIf="!this.isSubmitDisabled()" class="register-button" type="submit" mat-raised-button>
                    {{ 'registerPage.signUp' | translate }}
                </button>

                <button *ngIf="this.isSubmitDisabled()" id="disabled" type="submit" mat-raised-button>{{ 'registerPage.signUp' | translate }}</button>
            </form>
        </div>
    </div>
</div>
