.container {
    height: 100vh;
    overflow: hidden;
}

.option-container {
    background-color: var(--color-background-1);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 1.5vh;
    padding-top: 1.5vh;
    overflow: hidden;
}

.setting-icon {
    font-size: 32px;
    height: 32px;
    width: 32px;
    color: var(--color-text);
    cursor: pointer;
}

.setting-icon:hover{
    color:var(--color-border-1);
}

.register-container {
    height: 100vh;
    background-color: var(--color-background-1);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-group {
    background-color: var(--color-background-2);
    padding: 1.5%;
    border: 1px solid var(--color-border-2);
    text-align: center;
    width: 50%;
}

.error {
    padding-top: 10px;
    color: red;
    font-size: large;
}

.mat-form-field {
    width: 80%;
    justify-content: center;
    padding-bottom: 2%;
}

hr {
    width: 80%;
    height: 1px;
    background-color: var(--color-border-2);
    border: 0;
}

.register-button {
    width: 80%;
    cursor: pointer;
    background-color: rgb(36, 202, 125);
    margin-bottom: 10px;
    margin-top: 15px;
    color: var(--color-text);
}

.form-label {
    color: var(--color-text);
}

.avatar-container {
    display: flex;
    width: 80%;
    margin: auto;
}

.avatar-preview {
    max-width: 100%;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    fill: var(--color-text);
    border: 3px solid var(--color-border-2);
}

.center {
    margin: auto;
    width: 40%;
    padding: 10px;
}

.proposed-container {
    width: 60%;
}

.proposed-avatar {
    max-width: 100%;
    width: 60px;
    padding: 2%;
}

.proposed-avatar:hover {
    cursor: pointer;
}

.grow {
    transition: all 0.2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}
.upload-btn {
    background-color: var(--color-background-1);
}
.file-upload {
    width: 80%;
    margin: auto;
    padding-bottom: 2%;
}

.left {
    transform: scale(1.2);
    float: left;
    border-radius: 50%;
    border: 2px solid var(--color-text);
    color: var(--color-text);
}

.left:hover {
    cursor: pointer;
}

.form-label {
    color: var(--color-text);
}

#disabled {
    width: 80%;
    background-color: var(--color-input-button-disabled);
    margin-bottom: 10px;
    margin-top: 15px;
    margin: auto;
    color: var(--color-text);
    opacity: 40%;
}

div button img {
    max-width: 100%;
    width: 40px;
}
