<!-- https://fireflysemantics.medium.com/listening-to-enter-events-on-input-text-elements-with-angular-f5057a906666 -->

<div class="container">
    <div class="chat-header">
        <ng-container *ngIf="!this.clientChannelService.current.channel.directMessage">
            <!-- Channel -->
            <div class="chat-header-container">
                <p class="small-text">{{ 'channels.channelText' | translate }}</p>
                <p class="chat-name">{{ this.clientChannelService.current.channel.name }}</p>
            </div>
            <mat-icon class="chat-info-icon" (click)="openChannelInfo()">reorder</mat-icon>
        </ng-container>
        <ng-container *ngIf="this.clientChannelService.current.channel.directMessage">
            <!-- DM -->
            <p class="chat-name-dm">{{ this.clientChannelService.current.channel.name }}</p>
        </ng-container>
    </div>
    <app-chat-display></app-chat-display>
    <app-chat-input></app-chat-input>
</div>
