.container {
    height: 100%;
    width: 100%;
}

.chat-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
}

.chat-header {
    height: 7.5%;
    background-color: var(--color-background-2);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.chat-name {
    color: var(--color-text);
    font-size: 22px;
    font-family: 'Tahoma';
}

.chat-name-dm {
    color: var(--color-text);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-family: 'Tahoma';
    margin: 0;
    width: 85%;
    height: 75%;
}

.chat-info-icon {
    color: var(--color-text);
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    cursor: pointer;
    border-left: 1px solid var(--color-border-1);
    padding-top: 10px;
    padding-bottom: 10px;
}

.small-text {
    color: var(--color-border-1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: 'Tahoma';
    margin: 0;
    padding: 7px;
}
