<div class="container">
    <div *ngIf="checkIsObserver()" class="option" (click)="watchPlayer()">
        <div class="icon-container">
            <mat-icon class="option-icon">visibility</mat-icon>
        </div>
        <div class="label-container">{{ 'userInteractions.watchPlayer' | translate }}</div>
    </div>
    <div class="option">
        <div class="icon-container">
            <mat-icon class="option-icon">sports_esports</mat-icon>
        </div>
        <div class="label-container" (click)="takeBotPlace()">{{ 'gamePage.infoPanel.takePlace' | translate }}</div>
    </div>
</div>
